:root {
    --sl-font-size-small: var(--nr-font-size) !important;
}

sl-alert::part(icon), sl-alert::part(message), sl-alert::part(close-button),
sl-dialog::part(body), sl-dialog::part(close-button) {
    font-size: 1.2em;
}

sl-tab-group::part(tabs) {
    border-bottom-color: transparent;
}

sl-tab::part(base) {
    --sl-spacing-medium: 3px;
    --sl-spacing-large: 12px;
}

sl-tab-panel::part(base) {
    padding-top: 5px;
    --sl-spacing-medium: 0;
}

sl-tooltip::part(base) {
    word-wrap: break-all;
}