/*主体*/
.nr-main {
    margin: .3em .3em 0;
    --box1-width: 48%;
    --box2-width: calc(100% - var(--box1-width) - var(--nrc-spliter-width));
}
/*左*/
.nr-box1 {
    width: var(--box1-width);
}
/*右*/
.nr-box2 {
    width: var(--box2-width);
}
/*上*/
.nr-box0 {
    display: flex;
    flex-wrap: wrap;
}

    .nr-box0 > * {
        margin-right: .5em;
    }

/* 设置 */
.nr-dialog-setting sl-details{
    margin-bottom: .5em;
}

/*选项卡2窗口 对应的连接-数据库*/
.nr-window-conns {
    margin-left: 1em;
}
/*选项卡2窗口 分离器*/
.nr-spliter2 {
    --es-sql-height: 45%;
}

    .nr-spliter2 .nrc-spliter-item:first-child {
        height: var(--es-sql-height)
    }

    .nr-spliter2 .nrc-spliter-item:last-child {
        height: calc(100% - var(--nrc-spliter-width) - var(--es-sql-height))
    }


/*选项卡2窗口 编辑器*/
.nr-editor-box {
    display: flex;
    border: 1px solid var(--sl-color-primary-100);
    --ebox-tool-width: 30px;
}

.nr-editor-tool {
    width: var(--ebox-tool-width);
    background-color: var(--sl-color-neutral-100);
}
.nr-editor-tool sl-icon-button::part(base){
    padding: .2em .1em;    
}

.nr-editor-sql {
    height: 100%;
    width: calc(100% - var(--ebox-tool-width))
}

/*选项卡3执行结果*/
.nr-tab-group-3 {
    height: 100%;
    width: 100%;
}

.nr-grid-execute-sql {
    height: 200px;
}

/*设置参数*/
.nr-parameter-config {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    align-items: flex-end;
}
.nr-parameter-config > div {
    min-width: 8em;
    margin: 0 1em 1em;
}

/*svg图标-数据库*/
.nr-svg-typedb {
    width: 1.4em;
    height: 1.4em;
    margin-right: 0.2em;
    vertical-align: middle;
}
.nr-svg-typedb-menu {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

/*svg图标-数据头部*/
.nr-svg-headertype {
    height: 1.2em;
    width: 1.2em;
    margin-right: 0.2em;
}