/* dark model */
.sl-theme-dark {
    color: #cdd9e5;
    background-color: #22272e;
}

    /* 滚动条 */
    .sl-theme-dark ::-webkit-scrollbar {
        background: #000;
    }

    .sl-theme-dark ::-webkit-scrollbar-thumb {
        background: #393812;
        -webkit-border-radius: 1ex;
        -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    }

    .sl-theme-dark ::-webkit-scrollbar-corner {
        background: #000;
    }

/* 表格 */
.ag-theme-alpine-dark {
    --ag-data-color: #cdd9e5 !important; /*数据字体*/
    --ag-header-foreground-color: var(--ag-data-color); /*头*/
    --ag-foreground-color: var(--ag-data-color) /*右键*/
}
