@Html.Raw(Netnr.QuoteTo.Html("the"))
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>@ViewData["Title"]</title>

    @Html.Raw(Netnr.QuoteTo.Html("favicon,bootstrap3.css,fa4.css,jquery3.js,bootstrap3.js"))
    <partial name="_QuotePartial" model="@("easyui,z.css,z.js")" />
</head>
<body>
    <div class="container-fluid">
        @await Component.InvokeAsync("Button")
        <div id="myBody">
            @RenderBody()
        </div>
    </div>
</body>
</html>