@model string
@{
    var listQuote = Model.Split(',').ToList();
}
@foreach (var item in listQuote)
{
    switch (item)
    {
        case "fa.css":
            <link href="https://code.bdstatic.com/npm/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet">
            break;

        case "jquery.js":
            <script src="https://code.bdstatic.com/npm/jquery@1.12.4/dist/jquery.min.js"></script>
            break;

        case "bootstrap.css":
            <link href="https://code.bdstatic.com/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
            break;

        case "bootstrap.js":
            <script src="https://code.bdstatic.com/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"></script>
            break;

        case "easyui":
            <link href="https://code.bdstatic.com/npm/netnr-cdn@0.0.1/libs/jquery-easyui/1.9.0/themes/metro/easyui.css" rel="stylesheet" />
            <script src="https://code.bdstatic.com/npm/netnr-cdn@0.0.1/libs/jquery-easyui/1.9.0/jquery.easyui.min.js"></script>
            break;

        case "ace.css":
            <link href="https://code.bdstatic.com/npm/netnr-cdn@0.0.1/libs/acenav/20200108/ace.min.css" rel="stylesheet" asp-append-version="true" />
            <link href="https://code.bdstatic.com/npm/netnr-cdn@0.0.1/libs/acenav/20200108/ace-skins.min.css" rel="stylesheet" asp-append-version="true" async />
            break;

        case "ace.js":
            <script src="https://code.bdstatic.com/npm/netnr-cdn@0.0.1/libs/acenav/20200108/ace.min.js" asp-append-version="true"></script>
            break;

        case "z.css":
            <link href="/css/z.css" rel="stylesheet" asp-append-version="true" />
            break;

        case "z.js":
            <script src="/js/z.js" asp-append-version="true"></script>
            break;

        case "init.js":
            <script src="/js/init.js" asp-append-version="true"></script>
            break;

        case "ckeditor.js":
            <script src="https://code.bdstatic.com/npm/ckeditor@4.12.1/ckeditor.js"></script>
            break;

        case "monaco-editor":
            <script src="https://code.bdstatic.com/npm/monaco-editor@0.19.3/min/vs/loader.js"></script>
            <script>
                require.config({
                    paths: { vs: "https://code.bdstatic.com/npm/monaco-editor@0.19.3/min/vs" },
                    'vs/nls': { availableLanguages: { '*': 'zh-cn' } }
                });
            </script>
            break;

        case "loading":
            <div id="LoadingMask" style="position: fixed; top: 0; left: 0; bottom: 0; right: 0; background-color: white; z-index: 9999; background-image:url('/images/loading.svg');background-repeat:no-repeat;background-position:48% 45%"></div>
            break;
    }
}