<div class="border-top mt-5">
    <div class="container">
        <div class="row my-4">
            <div class="col-md-12">
                <h5 class="text-muted">链接</h5>
                <a class="mr-3 text-nowrap" href="https://www.netnr.com">NET牛人</a>
                <a class="mr-3 text-nowrap" target="_blank" href="https://netnr.eu.org" title="zme.ink">联系打赏</a>
            </div>
        </div>
        <div class="my-3 small text-muted">
            <span class="mr-3">&copy; Guff @DateTime.Now.Year</span>
            <a class="mr-3 text-nowrap" href="https://www.netnr.com/mix/terms">Terms</a>
            <a class="mr-3 text-nowrap" href="@Netnr.Guff.Application.BuildService.AutoLink("/faq")">FAQ</a>
        </div>
    </div>
</div>