<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] NFS</title>

    @Html.Raw(Netnr.SharedApp.QuoteTo.Html("favicon,bootstrap.css,jquery.js,bootstrap.js"))
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/favicon.svg" width="30" height="30" class="d-inline-block align-top" alt="netnr">
            NFS
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">文件列表</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">上传文件</a>
                </li>
                <li class="nav-item bg-warning">
                    <a class="nav-link" href="#">开发中...</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    @RenderBody()
</body>
</html>