/* light */
:root {
    --nmd-editor-border: #d8dee4;
    --nmd-editor-color: #000000;
    --nmd-editor-bg: #ffffff;
}

/* dark */
.netnrmd-dark {
    --nmd-editor-border: #585b60;
    --nmd-editor-color: #d4d4d4;
    --nmd-editor-bg: #0d1117;
}

.ace_search,
.ace_search_form > *,
.ace_search_form > *:hover,
.ace_replace_form > *,
.ace_replace_form > *:hover,
.ace_search_options > *,
.ace_search_options > *:hover {
    color: var(--nmd-editor-color);
    background-color: var(--nmd-editor-bg);
    border-color: var(--nmd-editor-border);
}

.ace_searchbtn_close {
    top: 13px;
}
