@{
    ViewData["Title"] = "Demo";
}

<h1>SixLabors.ImageSharp.Drawing</h1>
<img src="/SixLaborsImageSharpDrawing" onclick="this.src = '/SixLaborsImageSharpDrawing?' + (new Date().valueOf())" />

<hr />

<h1>System.Drawing.Common</h1>
<img src="/SystemDrawingCommon" onclick="this.src = '/SystemDrawingCommon?' + (new Date().valueOf())" />

<hr />

<h1>SkiaSharp</h1>
<img src="/SkiaSharp" onclick="this.src = '/SkiaSharp?' + (new Date().valueOf())" />

<hr />

<h1>Magick.NET</h1>
<img src="/MagickNET" onclick="this.src = '/MagickNET?' + (new Date().valueOf())" />

<hr />

<h1>Test</h1>
<a target="_blank" href="/home/test/1">Loop 1</a> &nbsp;
<a target="_blank" href="/home/test/20">Loop 20</a> &nbsp;
<a target="_blank" href="/home/test/99">Loop 99</a>

<hr />

<h1>Result</h1>
<p>System.Drawing.Common 最快，Windows首选，Linux 需依赖 libgdiplus 组件</p>
<p>SkiaSharp 快，和 System.Drawing.Common 速度非常接近， 跨平台优势</p>
<p>SixLabors.ImageSharp.Drawing 很慢，跨平台</p>
<p>Magick.NET 很慢</p>