@{
    ViewData["Title"] = "完善信息";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center my-5">
            <h4>完善信息后才能继续</h4>
            <h5 class="text-danger">验证邮箱、填写昵称</h5>
            <p>前往 <a href="/user/setting">个人设置</a></p>
        </div>
    </div>
</div>