@{
    ViewBag.Title = "写文章";
}

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-auto mb-2">
            <sl-button class="nr-btn-save" variant="warning" title="Ctrl + S 快捷保存">保存</sl-button>
        </div>
        <div class="col mb-2">
            <sl-input class="nr-txt-title" maxlength="200" placeholder="标题：简单的一句话"></sl-input>
        </div>
        <div class="col-md-4 mb-2">
            <div class="nr-tags"></div>
        </div>
        <div class="col-12">
            <div class="nr-editor">Loading ...</div>
        </div>
    </div>
</div>

@Html.Raw(Netnr.SharedApp.QuoteTo.Html("netnrmd.css,netnrmd.js,xm-select.js,monaco-editor"))
<script src="/js/home/write.js" asp-append-version="true"></script>