@{
    ViewBag.Title = "写文章";
}

<div class="@QuoteTo.PanelClass1">
    <div class="row">
        <div class="col-auto mb-2">
            <button class="nrg-btn-save btn btn-lg btn-warning" title="Ctrl + S 快捷保存">保存</button>
        </div>
        <div class="col mb-2">
            <input class="nrg-txt-title form-control form-control-lg" maxlength="200" placeholder="标题：简单的一句话" />
        </div>
        <div class="col-md-4 mb-2">
            <select class="nrg-se-tags form-select form-select-lg" placeholder="标签"></select>
        </div>
        <div class="col-12">
            <div class="nrg-editor">Loading ...</div>
        </div>
    </div>
</div>