<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.svg" type="image/x-icon" />

    <title>@ViewData["Title"] - Netnr.Test</title>
</head>
<body>
    @RenderBody()
</body>
</html>
