<link href="/_assets/webuploader/css/webuploader.css" rel="stylesheet" asp-append-version="true" />

<div class="container-fluid">
    <div class="row">
        <div class="col-md-auto">
            <div class="input-group">
                <span class="input-group-text">托管商</span>
                <select class="form-select" id="seup">
                    <option value="https://uploadbeta.com/api/pictures/upload/file/">uploadbeta.com（Max 5MB）</option>
                    <option value="https://imgbb.com/json">imgbb.com（Max 32MB）</option>
                </select>
                <a href="https://iao.su/pic.html" target="_blank" class="btn btn-link">图床资源</a>
                <a href="https://pic.ihcloud.net" target="_blank" class="btn btn-link">聚合图床</a>
            </div>
        </div>
        <div class="col-md-12">
            <div id="wrapper">
                <div id="container">
                    <div id="uploader">
                        <div class="queueList">
                            <div id="dndArea" class="up-placeholder">
                                <div id="filePicker"></div>
                                <p>截图粘贴、拖到这里</p>
                            </div>
                        </div>
                        <div class="statusBar" style="display:none;">
                            <div class="progress">
                                <span class="text">0%</span>
                                <span class="percentage"></span>
                            </div><div class="info"></div>
                            <div class="btns">
                                <div id="filePicker2"></div><div class="uploadBtn">开始上传</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="divnt"></div>

            <div class="modal" id="myModal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">消息</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="myModalBody">
                            <textarea class="form-control" style="height:300px"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Raw(Netnr.SharedApp.QuoteTo.Html("webuploader.js"))