<div class="container-fluid">
    <div class="row">
        <div class="col-md-auto">
            <select class="form-select nr-diff-inline">
                <optgroup label="对比模式">
                    <option value="0">左右</option>
                    <option value="1">内联</option>
                </optgroup>
            </select>
        </div>
        <div class="col-md">
            <div class="input-group">
                <input id="txtFile" type="file" class="form-control">
                <button class="btn btn-secondary nr-diff-next">Next</button>
            </div>
        </div>
        <div class="col-md-12 mt-3">
            <div id="editor" class="border overflow-hidden position-relative">
                <i class="fa fa-arrows-alt fa-fw me-full-btn" title="Switch the full screen"></i>
            </div>
        </div>
    </div>
</div>

@Html.Raw(Netnr.SharedApp.QuoteTo.Html("monaco-editor"))