<div class="container">
    <div class="row">
        <div class="col-md-12">
            <iframe src="https://www.kuaidi100.com/frame/hao123/new.html" frameborder="0" scrolling="no" style="width:100%;height:1000px"></iframe>
            <script>
                window.Error = function () { return false; }
            </script>
        </div>
    </div>
</div>