<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <label class="btn btn-warning mb-3">
                <input type="file" class="d-none" id="txtFile" /> 选择（拖拽、粘贴）文件
            </label>
            <label id="labSize" class="ms-3"></label>
        </div>
        <div class="col-md-12 mb-3 nrEbox d-none">
            <div id="editor" class="border overflow-hidden position-relative min300">
            </div>
        </div>
        <div class="col-md-12 d-none">
            <button class="btn btn-info mb-3" id="btnBase64ToFile">Base64 转文件</button>
            <div id="viewBase64" class="mb-3"></div>
        </div>
    </div>
</div>

@Html.Raw(Netnr.SharedApp.QuoteTo.Html("monaco-editor"))