<div class="container-fluid">
    <div class="row">
        <div class="col-auto mb-3">
            <button class="btn btn-warning" id="btnFormatter" title="Shift+Alt+F 快捷格式化">格式化</button>
        </div>
        <div class="col-auto mb-3">
            <select class="form-select nr-lang">
                <optgroup label="Language">
                    <option value="javascript">JS</option>
                    <option value="html">HTML</option>
                    <option value="css">CSS</option>
                </optgroup>
            </select>
        </div>
        <div class="col-auto mb-3">
            <div class="input-group">
                <span class="input-group-text">间隔</span>
                <input type="number" class="form-control nr-tab-width" value="4" min="1" max="9" step="1" />
            </div>
        </div>
        <div class="col-md-12">
            <div id="editor" class="border overflow-hidden position-relative">
                <i class="fa fa-arrows-alt fa-fw me-full-btn" title="Switch the full screen"></i>
            </div>
        </div>
    </div>
</div>

@Html.Raw(Netnr.SharedApp.QuoteTo.Html("js-beautify,monaco-editor"))