<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>MySQL</h3>
            <ul>
                <li><a target="_blank" href="https://remotemysql.com">https://remotemysql.com</a></li>
                <li><a target="_blank" href="https://www.db4free.net">https://www.db4free.net</a></li>
            </ul>
            <h3>SQLServer</h3>
            <ul>
                <li><a target="_blank" href="https://www.gearhost.com">https://www.gearhost.com</a></li>
            </ul>
            <h3>PostgresqlSQL</h3>
            <ul>
                <li><a target="_blank" href="https://www.elephantsql.com/">https://www.elephantsql.com/</a></li>
            </ul>
        </div>
    </div>
</div>