@{
    var md = Netnr.Core.FileTo.ReadText(Netnr.Fast.PathTo.Combine(GlobalTo.WebRootPath, "db/free.md"));
    var html = Markdig.Markdown.ToHtml(md);
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @Html.Raw(html)
        </div>
    </div>
</div>