<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Csharp</h3>
            <ul>
                <li>
                    <a href="https://somee.com">https://somee.com</a>
                    <ul>
                        <li>支持 .NET Framework (v2.0 - v4.8) 和 .NET Core (v3.1)</li>
                        <li>SQLServer 15MB</li>
                        <li>支持 HTTPS</li>
                        <li>免费子域名，无广告</li>
                        <li>可自定义域名，强制广告</li>
                    </ul>
                </li>
            </ul>
            <h3>NodeJs</h3>
            <ul>
                <li><a href="https://cloudno.de">https://cloudno.de</a></li>
                <li><a href="https://www.heroku.com/">https://www.heroku.com/</a></li>
            </ul>
        </div>
    </div>
</div>