<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <input id="txtSearch" type="text" class="form-control" placeholder="请输入顶级域名，不带http、www" autocomplete="off">
                <span class="input-group-append">
                    <button class="btn btn-warning" type="button" id="btnSearch">备案查询</button>
                </span>
            </div>
            <div class="mt-3" id="dn"></div>
        </div>
    </div>
</div>

<script src="/js/icp.js" asp-append-version="true"></script>