<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-success text-white">公网IP</div>
                <div class="card-body">
                    <div class="form-group">
                        <label>
                            <a href="https://pv.sohu.com/cityjson" target="_blank">搜狐</a>
                        </label>
                        <input class="form-control" id="txtSohu">
                    </div>
                    <div class="form-group">
                        <label>
                            <a href="https://api.ip.sb/jsonip?callback=CallBack_Ipsb" target="_blank">IP.SB</a>
                        </label>
                        <input class="form-control" id="txtIpsb">
                    </div>
                    <div class="form-group">
                        <label>
                            <a href="https://api.zme.ink/ip" target="_blank">api.zme.ink</a>
                        </label>
                        <input class="form-control" id="txtZme">
                    </div>
                    <div>
                        <label>更多：</label>
                        <a href="http://dyact.vip.xunlei.com/iface.php?c=telecomip&a=getIp&d=telecomip&callback=fn" target="_blank">迅雷</a>
                        &nbsp;
                        <a href="https://only.nstool.netease.com/" target="_blank">网易</a>
                    </div>
                </div>
            </div>
            <div class="card card-default my-4">
                <div class="card-header">内网IP</div>
                <div class="card-body">
                    <input class="form-control" id="txIntranet" placeholder="仅支持Chrome、Firefox">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://pv.sohu.com/cityjson"></script>
<script src="/js/ip.js" asp-append-version="true"></script>
<script src="https://api.ip.sb/jsonip?callback=CallBack_Ipsb"></script>