<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="mb-3">
                <label class="form-label">
                    <a href="@Netnr.SharedFast.GlobalTo.GetValue("Common:ApiServer")/ip" target="_blank">@Netnr.SharedFast.GlobalTo.GetValue("Common:ApiServer")/ip</a>
                </label>
                <input class="form-control fs-3" id="txtZme" placeholder="Loading...">
            </div>
            <div class="mb-3">
                <label class="form-label">
                    <a href="https://pv.sohu.com/cityjson" target="_blank">搜狐</a>
                </label>
                <input class="form-control fs-3" id="txtSohu" placeholder="Loading...">
            </div>
            <div>
                <label class="form-label">更多：</label>
                <a href="https://api.ip.sb/ip" target="_blank">IP.SB</a>
                &nbsp;
                <a href="http://dyact.vip.xunlei.com/iface.php?c=telecomip&a=getIp&d=telecomip&callback=fn" target="_blank">迅雷</a>
                &nbsp;
                <a href="https://only.nstool.netease.com" target="_blank">网易</a>
            </div>
        </div>
    </div>
</div>

<script src="https://pv.sohu.com/cityjson"></script>
<script>
    try {
        $.get(`${ss.apiServer}/ip`, null, function (data) {
            $('#txtZme').val(data);
        });

        $('#txtSohu').val(returnCitySN.cip);
    } catch (e) { }
</script>
