<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="mb-3">
                <label class="form-label">
                    <a href="https://www.netnr.eu.org/api/v1/IP" target="_blank">https://www.netnr.eu.org/api/v1/IP</a>
                </label>
                <input class="form-control fs-3 nr-ip1" id="txtZme" placeholder="Loading...">
            </div>
            <div class="mb-3">
                <label class="form-label">
                    <a href="https://pv.sohu.com/cityjson" target="_blank">搜狐</a>
                </label>
                <input class="form-control fs-3 nr-ip2" id="txtSohu" placeholder="Loading...">
            </div>
            <div>
                <label class="form-label">更多：</label>
                <a href="https://api.ip.sb/ip" target="_blank">IP.SB</a>
                &nbsp;
                <a href="http://dyact.vip.xunlei.com/iface.php?c=telecomip&a=getIp&d=telecomip&callback=fn" target="_blank">迅雷</a>
                &nbsp;
                <a href="https://only.nstool.netease.com" target="_blank">网易</a>
            </div>
        </div>
    </div>
</div>

<script src="https://pv.sohu.com/cityjson"></script>
<script>
    try {
        fetch(`${ss.apiServer}/api/v1/IP`).then(x => x.text()).then(res => {
            document.querySelector('.nr-ip1').value = res.split(',')[0];
        });

        document.querySelector('.nr-ip2').value = returnCitySN.cip;
    } catch (e) { }
</script>
