<style>
    .wrap {
        float: left;
        width: 200px;
        height: 300px;
        margin: 30px 70px 0;
        border: 1px solid #099;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!--两层div 外面是position:relative  里面是内容区position:absolute-->
            <div class="wrap"><div id="jc1"></div></div>
            <div class="wrap"><div id="jc2"></div></div>
            <div class="wrap"><div id="jc3"></div></div>
        </div>

        <div class="col-md-12 mt-3">
            <p><a href="/js/plus/jscroll.js" target="_blank">jscroll.js</a></p>
            <pre>&lt;div style=&quot;height:300px;width:200px&quot;&gt;
    &lt;div id=&quot;jc1&quot;&gt;&lt;/div&gt;
&lt;/div&gt;</pre>
            <pre>//初始化滚动条插件
jc.init({ id:"jc1"});</pre>
            <pre>//参数说明
id:"jc1", //目标div的id
barwidth:10, //滚动条宽度  默认8px
barheight:60, //滚动条高度 默认60px
barcolor:"#099", //滚动条颜色 默认#099
barbgcolor:"#fff", //滚动条背景颜色 默认#fff
scrollheight:80, //滚轮一次滑动高度 默认80px</pre>
        </div>
    </div>
</div>

<script src="/js/plus/jscroll.js" asp-append-version="true"></script>
<script src="/js/jscroll.js" asp-append-version="true"></script>