<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn mb-3 btn-warning" id="btnFn1" title="Terser">压缩 JS</button>
            <button type="button" class="btn mb-3 btn-success" id="btnFn2" title="CleanCSS">压缩 CSS</button>
            <div id="editor1" class="border overflow-hidden position-relative">
                <i class="fa fa-arrows-alt fa-fw me-full-btn" title="Switch the full screen"></i>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <div class="input-group">
                    <button type="button" class="btn btn-success" id="btnDown">下载文件</button>
                    <input class="form-control" placeholder="（可选）自定义文件名" id="txtFileName" />
                </div>
            </div>
            <div id="editor2" class="border overflow-hidden position-relative">
                <i class="fa fa-arrows-alt fa-fw me-full-btn" title="Switch the full screen"></i>
            </div>
        </div>
    </div>
</div>

@Html.Raw(Netnr.SharedApp.QuoteTo.Html("terser.js,clean-css.js,monaco-editor"))