<div class="container-fluid">
    <div class="row">
        <div class="col-auto mb-3">
            <button class="btn btn-warning" id="btnJsonToEntity">生成实体</button>
        </div>
        <div class="col-auto mb-3">
            <select class="form-select" id="seNotes">
                <optgroup label="是否带注释">
                    <option value="1">带注释</option>
                    <option value="2" selected>不带注释</option>
                </optgroup>
            </select>
        </div>
        <div class="col-auto mb-3">
            <select class="form-select" id="seClassNameFirstBig">
                <optgroup label="类名强制大写开头">
                    <option value="1">强制大写</option>
                    <option value="2" selected>不强制大写</option>
                </optgroup>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-3">
            <pre class="border overflow-hidden mb-0 pme" id="txt1">
{
  "site": {
    "title": "NET牛人",
    "domain": "https://www.netnr.com",
    "createtime": "2014.01.01"
  },
  "about": {
    "name": "netnr",
    "sex": "男",
    "injob": "2012.03.01",
    "live": "中国重庆",
    "mail": "netnr@netnr.com",
    "git": [
      {
        "name": "github",
        "url": "https://github.com/netnr"
      },
      {
        "name": "gitee",
        "url": "https://gitee.com/netnr"
      }
    ]
  },
  "updaet": "2022.02.07",
  "version": "v.1.0.0"
}</pre>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="border overflow-hidden" id="txt2"></div>
        </div>
    </div>
</div>

@Html.Raw(Netnr.SharedApp.QuoteTo.Html("monaco-editor"))