<div class="container-fluid">
    <div class="row" id="tobox">
        <div class="col-sm-6">
            <button type="button" class="btn btn-success mb-3" id="btnToXml">To Xml</button>
            <pre id="txt1" class="border overflow-hidden pme">
{
  "site": {
    "title": "NET牛人",
    "domain": "https://www.netnr.com",
    "createtime": "2014.01.01"
  },
  "about": {
    "name": "netnr",
    "sex": "男",
    "injob": "2012.03.01",
    "live": "中国重庆",
    "mail": "netnr@netnr.com",
    "git": [
      {
        "name": "github",
        "url": "https://github.com/netnr"
      },
      {
        "name": "gitee",
        "url": "https://gitee.com/netnr"
      }
    ]
  },
  "updaet": "2022.02.07",
  "version": "v.1.0.0"
}</pre>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-primary mb-3" id="btnToJson">To Json</button>
            <div class="border overflow-hidden" id="txt2"></div>
        </div>
    </div>
</div>

@Html.Raw(Netnr.SharedApp.QuoteTo.Html("fast-xml-parser.js,monaco-editor"))