<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul>
                <li>
                    <p><a target="_blank" href="http://127.0.0.1.xip.io">127.0.0.1.xip.io</a></p>
                </li>
                <li>
                    <p><a target="_blank" href="http://wifi.aliyun.com">wifi.aliyun.com</a></p>
                </li>
                <li>
                    <p><a target="_blank" href="http://114.taobao.com">114.taobao.com</a><br><a target="_blank" href="http://safe.taobao.com">safe.taobao.com</a></p>
                </li>
                <li>
                    <p><a target="_blank" href="http://imis.qq.com">imis.qq.com</a><br><a target="_blank" href="http://fortest.qq.com">fortest.qq.com</a></p>
                </li>
                <li>
                    <p><a target="_blank" href="http://ecd.tencent.com">ecd.tencent.com</a></p>
                </li>
                <li>
                    <p><a target="_blank" href="http://127-0-0-1.s.test.cab">127-0-0-1.s.test.cab</a> &nbsp; <a href="https://s.test.cab">*.s.test.cab证书</a></p>
                </li>
            </ul>
        </div>
    </div>
</div>