<style>
    #divlottery span {
        width: 25px;
        height: 25px;
        font-size: 14px;
        line-height: 25px;
        text-align: center;
        border-radius: 12px;
        display: inline-block;
        margin: 5px 10px 5px 0;
    }

    #divlottery .sp1 {
        color: white;
        background-color: #cc0000;
    }

    #divlottery .sp2 {
        color: white;
        background-color: #3074da;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="input-group">
                    <span class="input-group-append">
                        <button class="btn btn-warning" type="button" id="btnSearch">彩票类型</button>
                    </span>
                    <select class="custom-select" id="seLotteryType" name="code">
                        <option value="001">双色球</option>
                        <option value="110">七星彩</option>
                        <option value="003">七乐彩</option>
                        <option value="002">福彩3d</option>
                        <option value="113">大乐透</option>
                        <option value="108">排列3</option>
                        <option value="109">排列5</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div id="divlottery" class="row mt-3"></div>
</div>

<script src="/js/lottery.js" asp-append-version="true"></script>