<style>
    .messagebox svg {
        width: 42px;
        height: 42px;
    }

    .messagebox pre {
        white-space: pre-wrap;
        word-break: break-word;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 messagebox">
        </div>
        <div class="col-md-12 py-3 position-sticky bottom-0 bg-light">
            <div class="input-group mb-3">
                <button class="btn btn-warning" id="btnSave">留言</button>
                <input class="form-control" placeholder="输入昵称（可选）" name="UserNickname" maxlength="50">
            </div>
            <div class="input-group mb-3">
                <textarea class="form-control" rows="2" name="Content" placeholder=" 写留言内容，文明点 ^_^ &#xD;&#xA; 快捷提交：Ctrl + Enter，支持 Markdown"></textarea>
            </div>
        </div>
    </div>
</div>

@Html.Raw(Netnr.SharedApp.QuoteTo.Html("bmob.js,netnrmd.js,identicon.js"))