<div class="container-fluid">
    <div class="row">
        <div class="col-auto">
            <button class="btn btn-warning" id="btnFormatterNginxConf" title="Shift+Alt+F 快捷格式化">格式化</button>
        </div>
        <div class="col-auto">
            <select class="form-select nr-theme">
                <optgroup label="Theme">
                    <option value="vs">vs</option>
                    <option value="vs-dark">vs-dark</option>
                </optgroup>
            </select>
        </div>
        <div class="col-auto">
            <a class="btn btn-link" href="https://ssl-config.mozilla.org" target="_blank">SSL Config</a>
        </div>
        <div class="col-md-12 mt-3">
            <div id="editor" class="border overflow-hidden position-relative">
                <i class="fa fa-arrows-alt fa-fw me-full-btn" title="Switch the full screen"></i>
            </div>
        </div>
    </div>
</div>

@Html.Raw(Netnr.SharedApp.QuoteTo.Html("nginxbeautifier,monaco-editor"))