<style>
    .sbox {
        position: relative;
        text-align: center;
        border: 1px solid #ddd;
    }

        .sbox .sbox-screen {
            height: 371px;
            line-height: 371px;
        }

            .sbox .sbox-screen img {
                max-width: 98%;
                max-height: 98%;
                vertical-align: middle;
            }

        .sbox .sbox-scanner {
            position: absolute;
            width: 100%;
            height: 10px;
            z-index: 9999;
            background-color: rgba(0,0,0,.8);
            -moz-animation: scan 1s infinite;
            -webkit-animation: scan 1s infinite;
            animation: scan 1s infinite;
            -webkit-animation-direction: alternate-reverse;
            box-shadow: 0px 0px 30px rgba(255,204,102,.5);
        }

    @@-webkit-keyframes scan {
        0%, 100% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(364px);
        }
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3 input-group">
                <input id="txtFile" type="file" class="form-control" accept="image/*">
            </div>
            <div class="mb-3 rounded sbox">
                <div class="sbox-scanner d-none"></div>
                <div class="sbox-screen">
                    <img src="https://www.netnr.eu.org/api/v1/SVGPIG/400*200" id="imgview" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row nrResultType">
                <div class="col-md mb-3">
                    <input class="form-control text-white bg-success" value="Drawing（绘画）" title="无害的艺术，或艺术绘画">
                </div>
                <div class="col-md mb-3">
                    <input class="form-control text-white bg-info" value="Neutral（中立）" title="一般，无害的内容">
                </div>
                <div class="col-md mb-3">
                    <input class="form-control text-white bg-warning" value="Sexy（性感）" title="不合时宜的挑衅内容">
                </div>
                <div class="col-md mb-3">
                    <input class="form-control text-white bg-danger" value="Porn（色情）" title="不雅的内容和行为，通常涉及生殖器">
                </div>
                <div class="col-md mb-3">
                    <input class="form-control text-white bg-dark" value="Hentai（变态）" title="色情艺术，不适合大多数工作环境">
                </div>
            </div>
            <textarea class="form-control" rows="15" id="txtResult"></textarea>
        </div>
    </div>
    <div class="row mt-3 nrChart">
    </div>
</div>

@Html.Raw(Netnr.SharedApp.QuoteTo.Html("nsfwjs,highcharts.js"))