<style>
    .sbox {
        position: relative;
        text-align: center;
        border: 1px solid #ddd;
    }

        .sbox .sbox-screen {
            height: 400px;
            line-height: 400px;
        }

            .sbox .sbox-screen img {
                max-width: 98%;
                max-height: 98%;
                vertical-align: middle;
            }

        .sbox .sbox-scanner {
            position: absolute;
            width: 100%;
            height: 10px;
            z-index: 9999;
            background-color: rgba(0,0,0,.8);
            -moz-animation: scan 1s infinite;
            -webkit-animation: scan 1s infinite;
            animation: scan 1s infinite;
            -webkit-animation-direction: alternate-reverse;
            box-shadow: 0px 0px 30px rgba(255,204,102,.5);
        }

    @@-webkit-keyframes scan {
        0%, 100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        100% {
            -webkit-transform: translateY(370px);
            transform: translateY(390px);
        }
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <div class="custom-file">
                    <input id="txtFile" type="file" class="custom-file-input" accept="image/*">
                    <label class="custom-file-label">选择图片 或 拖拽图片文件 或 Ctrl + V 粘贴图片</label>
                </div>
            </div>
            <div class="mt-3">
                <div class="sbox">
                    <div class="sbox-scanner d-none"></div>
                    <div class="sbox-screen">
                        <img src="https://api.zme.ink/svg/400*200" id="imgview" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <input class="form-control text-white bg-success" value="Drawing（绘画）" title="无害的艺术，或艺术绘画">
                <input class="form-control text-white bg-dark" value="Hentai（变态）" title="色情艺术，不适合大多数工作环境">
                <input class="form-control text-white bg-info" value="Neutral（中立）" title="一般，无害的内容">
                <input class="form-control text-white bg-danger" value="Porn（色情）" title="不雅的内容和行为，通常涉及生殖器">
                <input class="form-control text-white bg-warning" value="Sexy（性感）" title="不合时宜的挑衅内容">
            </div>
            <textarea class="form-control mt-3" style="height:400px" id="txtResult"></textarea>
        </div>
    </div>
</div>

<partial name="_PartialQuote" model="@("nsfwjs")" />

<script>
    var pg = {
        isgif: false,
        init: function () {

            $('#txtFile').change(function () {
                pg.preview();
            });

            //粘贴图片
            document.addEventListener('paste', function (event) {
                if (event.clipboardData || event.originalEvent) {
                    var clipboardData = (event.clipboardData || event.originalEvent.clipboardData);
                    if (clipboardData.items) {
                        var items = clipboardData.items, len = items.length;
                        for (var i = 0; i < len; i++) {
                            if (items[i].type.indexOf("image") !== -1) {
                                var blob = items[i].getAsFile();
                                pg.iv.src = URL.createObjectURL(blob);

                                pg.isgif = false;
                                pg.scan();
                            }
                        }
                    }
                }
            })
        },
        iv: document.getElementById('imgview'),

        /**预览图片 */
        preview: function () {
            var file = document.querySelector('input[type=file]').files[0];
            if (file) {
                console.log(file);
                if (file.type.indexOf('image') != 0) {
                    jz.alert('不是图片哦');
                    return false;
                }
                pg.isgif = file.type == "image/gif";
                var reader = new FileReader();
                reader.onload = function () {
                    pg.iv.src = reader.result;

                    pg.scan();
                }
                reader.readAsDataURL(file);
            } else {
                pg.iv.src = "https://api.zme.ink/svg/400*200";
            }
        },

        scan: function () {
            $('.sbox-scanner').removeClass('d-none');
            nsfwjs.load('https://code.bdstatic.com/npm/nsfwjs-node@2.1.14/model/').then(function (model) {
                var mf = pg.isgif ? "classifyGif" : "classify";
                model[mf](pg.iv).then(function (predictions) {
                    console.log(predictions);

                    if (pg.isgif) {
                        var oarr = [];
                        predictions.forEach(parr => {
                            var ro = {};
                            parr.forEach(p => {
                                ro[p.className] = p.probability.toFixed(20);
                            });
                            oarr.push(ro);
                        });
                        $('#txtResult').val(JSON.stringify(oarr, null, 4))
                    } else {
                        var ro = {};
                        predictions.forEach(p => {
                            ro[p.className] = p.probability.toFixed(20);
                        });
                        $('#txtResult').val(JSON.stringify(ro, null, 4))
                    }

                    $('.sbox-scanner').addClass('d-none');
                })
            })
        }
    }

    pg.init();
</script>