<div class="container-fluid">
    <div class="row">
        <div class="col-md-auto mb-3">
            <div class="input-group">
                <input id="txtFile" type="file" class="form-control" accept="image/*">
            </div>
        </div>
        <div class="col-md mb-3">
            <button class="btn btn-info" title="逆时针旋转 5°" id="btnRotateLeft"><i class="fa fa-rotate-left"></i></button>
            <button class="btn btn-info" title="顺时针旋转 5°" id="btnRotateRight"><i class="fa fa-rotate-right"></i></button>
            <button class="btn btn-info" title="重置" id="btnReset"><i class="fa fa-refresh"></i></button>
            <button class="btn btn-warning" id="btnOcr">识别</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="img-container">
                <img id="imgview">
            </div>
        </div>
        <div class="col-md-12 mb-3">
            <textarea class="form-control fs-3 d-none" rows="9" id="txtResult" placeholder="这里显示识别结果"></textarea>
        </div>
    </div>
</div>

@Html.Raw(Netnr.SharedApp.QuoteTo.Html("cropperjs"))