<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="input-group">
                <span class="input-group-text">粘贴公网链接</span>
                <input id="txtUrl" type="text" class="form-control" placeholder="请粘贴公网文档链接地址">
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="input-group">
                <span class="input-group-text">上传Office文档</span>
                <input id="txtFile" type="file" class="form-control">
                <span class="input-group-text d-none nr-update-progress"></span>
            </div>
        </div>
        <div class="col-md-12 mb-3 d-none d-md-block">
            <label>全屏完整链接：</label>
            <a target="_blank" id="auri" href="javascript:void(0)">https://view.officeapps.live.com/op/embed.aspx?src=</a>
        </div>
        <div class="col-md-12">
            <iframe src="about:blank" class="d-none" frameborder="0"></iframe>
        </div>
    </div>
</div>