<style>
    ul {
        padding: 0 20px;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h5>概述（Overview）</h5>
            <ul>
                <li>提供各种服务，仅静态 HTML 页面，无后台服务部署</li>
                <li>页面调用接口有跨域问题，则使用 <a href="https://github.com/netnr/workers">https://github.com/netnr/workers</a> 类似的代理请求</li>
            </ul>
            <h5>附言</h5>
            <ul>
                <li>备用域名：<a href="https://ss.js.org">ss.js.org</a></li>
                <li>有什么意见、建议，可以<a href="/message">留言</a></li>
                <li>目前为止，全站无任何广告，也会一直坚持做下去，<a href="https://netnr.eu.org">联系赞助</a></li>
            </ul>
        </div>
    </div>
</div>