<style>
    #divbox {
        position: relative;
    }

        #divbox > div {
            position: absolute;
            transition: all .3s;
        }
</style>

<div class="container-fluid">
    <div class="row" id="divbox"></div>
</div>

<script src="/js/pingcloud.js" asp-append-version="true"></script>