<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <input class="form-control" placeholder="例如：重要重庆" id="txtChinese" />
            <textarea class="form-control my-3 nr-pinyin-out" rows="5"></textarea>
            源：<a href="/js/pinyin.js" target="_blank">pinyin.js</a>
        </div>
    </div>
</div>

<script src="/js/pinyin.js" asp-append-version="true"></script>
<script>
    $('#txtChinese').keyup(function () {
        var txt = $('.nr-pinyin-out');
        if (this.value != "") {
            txt.val('');

            var arrPY = PY.QueryArray(this.value);
            txt.val(arrPY.join('\n'));
        }
    });
</script>