<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="/js/pinyin.js" target="_blank">pinyin.js</a>
        </div>
        <div class="col-md-12 my-3">
            <input class="form-control" placeholder="例如：重要重庆" id="txtChinese" />
        </div>
        <div class="col-md-12">
            <select class="form-control" multiple id="sePinyin"></select>
        </div>
    </div>
</div>

<script src="/js/pinyin.js" asp-append-version="true"></script>
<script src="/js/cntoen.js" asp-append-version="true"></script>