<div id="source" style="display:none">
    
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-auto mb-3">
            <span class="text-success text-nowrap">低嘌呤</span> 100g食物中含量 < 25mg
        </div>
        <div class="col-md-auto mb-3">
            <span class="text-warning text-nowrap">中嘌呤</span> 100g食物中含量在25mg-150mg
        </div>
        <div class="col-md-auto mb-3">
            <span class="text-danger text-nowrap">高嘌呤</span> 100g食物中含量在150-1000mg
        </div>
        <div class="col-md-12">
            <div class="grid ag-theme-alpine"></div>
        </div>
    </div>
</div>

@Html.Raw(Netnr.SharedApp.QuoteTo.Html("ag-grid-enterprise.js"))