<style>
    .joke-item {
        padding: 15px;
        font-size: 18px;
        letter-spacing: 1px;
        border: 1px solid #ddd;
        border-top: none;
    }

        .joke-item:hover {
            background-color: #f9f9f9;
        }

        .joke-item:first-child {
            border-top: none;
        }

        .joke-item img, .joke-item video {
            max-width: 100%;
            margin-top: 15px;
        }

        .joke-item video {
            max-height: 600px;
        }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="navtype">
                <li class="nav-item"><a class="nav-link" href="#type=latest&page=1">最新</a></li>
                <li class="nav-item"><a class="nav-link" href="#type=text&page=1">文字</a></li>
                <li class="nav-item"><a class="nav-link" href="#type=image&page=1">图片</a></li>
                <li class="nav-item"><a class="nav-link" href="#type=video&page=1">视频</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="divJoke"></div>
            </div>
            <div id="tabPage" class="mt-3"></div>
        </div>
    </div>
</div>

<script src="/js/qiushibaike.js" asp-append-version="true"></script>
