<style>
    textarea.tah {
        height: calc(1.5em + .75rem + 2px);
        min-height: calc(1.5em + .75rem + 2px);
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="input-group mb-3">
                <span class="input-group-text">生成二维码</span>
                <textarea id="txt" class="form-control tah" placeholder="内容：网址、电话、邮箱等"></textarea>
                <button class="btn btn-warning nrBtnConfig">配置</button>
            </div>
            <textarea class="form-control mb-3 d-none nrTxtConfig" rows="11"></textarea>
            <div id="divCodeResult" class="mb-3"></div>
        </div>

        <div class="col-md-6">
            <div class="input-group mb-3">
                <span class="input-group-text">识别二维码</span>
                <input id="txtFile" type="file" class="form-control" accept="image/*">
            </div>
            <textarea class="form-control mb-3 nrResultCode d-none"></textarea>
        </div>
    </div>
</div>

@Html.Raw(Netnr.SharedApp.QuoteTo.Html("qrcode.js,jsqr.js"))
