<div class="container-fluid">

    <div class="row gx-3 gy-3 align-items-center">

        <div class="col-sm-auto">
            <div class="input-group">
                <span class="input-group-text">长度</span>
                <input class="form-control nrLen" title="长度" type="number" value="16" min="1" max="99" step="1" />
            </div>
        </div>
        <div class="col-sm-auto">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="chkUpper" value="A" checked>
                <label class="form-check-label" for="chkUpper">ABC</label>
            </div>
        </div>
        <div class="col-sm-auto">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="chkLower" value="a" checked>
                <label class="form-check-label" for="chkLower">abc</label>
            </div>
        </div>
        <div class="col-sm-auto">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="chkNumber" value="0" checked>
                <label class="form-check-label" for="chkNumber">123</label>
            </div>
        </div>
        <div class="col-sm-auto">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="chkSymbol" value="!">
                <label class="form-check-label" for="chkSymbol">!@@#</label>
            </div>
        </div>

        <div class="col-sm-auto">
            <div class="input-group">
                <span class="input-group-text">排除</span>
                <input class="form-control nrExclude" title="排除" value="0oOiI1l" placeholder="排除字符，如：0oOiIlL1" />
            </div>
        </div>
        <div class="col-sm-auto">
            <button class="btn btn-danger nrReset">重置</button>
            <button class="btn btn-warning nrGk">刷新</button>
        </div>
        <div class="col-md-12 mb-3">
            <textarea class="form-control fs-3 nrRcv" rows="9"></textarea>
        </div>
    </div>
</div>