<div class="container-fluid">
    <div class="row">
        <div class="col">
            <input class="form-control nr-txt-search mb-2" placeholder="搜索正则" />
        </div>
        <div class="col-auto">
            <a href="https://regex101.com/" class="btn btn-dark" target="_blank">regex101</a>
        </div>
        <div class="col-auto">
            <a href="https://tool.chinaz.com/regex" class="btn btn-primary" target="_blank">站长正则</a>
        </div>
        <div class="col-md-12">
            <div class="grid ag-theme-alpine"></div>
        </div>
    </div>
</div>

@Html.Raw(Netnr.SharedApp.QuoteTo.Html("ag-grid-enterprise.js"))