<div class="container-fluid">
    <div class="row">
        <div class="col-auto">
            <button class="btn btn-warning" id="btnRunSpeedTest">开始测速</button>
        </div>
        <div class="col-auto">
            <select class="form-select" id="seSpeedServer">
                <optgroup label="请选择节点"></optgroup>
            </select>
        </div>
        <div class="col-md-12 my-3">
            <div id="divresult"></div>
        </div>
    </div>
</div>