<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text">请选择节点</span>
                </div>
                <div class="input-group-prepend">
                    <select class="custom-select" style="width:150px;" id="seSpeedServer"></select>
                </div>
                <div class="input-group-prepend">
                    <button class="btn btn-warning" id="btnRunSpeedTest">开始测速</button>
                </div>
            </div>
            <div id="divresult"></div>
        </div>
    </div>
</div>

<script src="/js/speedtest.js" asp-append-version="true"></script>