<div class="container-fluid">
    <div class="row">
        <div class="col-auto mb-3">
            <button class="btn btn-info" id="btnSqlFormatter" title="Shift+Alt+F 快捷格式化">格式化</button>
        </div>
        <div class="col-auto mb-3">
            <select class="form-select nrSqlConfigLanguage">
                <optgroup label="语言类型">
                    <option value="sql">SQL</option>
                    <!-- dialects -->
                    <option value="redshift">AWS Redshift</option>
                    <option value="db2">DB2</option>
                    <option value="mariadb">MariaDB</option>
                    <option value="mysql">MySQL</option>
                    <option value="n1ql">N1QL</option>
                    <option value="plsql">PL/SQL</option>
                    <option value="postgresql">PostgreSQL</option>
                    <option value="spark">Spark</option>
                    <option value="tsql">Transact-SQL</option>
                </optgroup>
            </select>
        </div>
        <div class="col-auto mb-3">
            <select class="form-select nrSqlConfigUpperCase">
                <optgroup label="关键字">
                    <option value="1">大写</option>
                    <option value="0">不处理</option>
                </optgroup>
            </select>
        </div>
        <div class="col-auto mb-3">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                    More
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="https://sqlformat.darold.net">pgFormatter</a></li>
                    <li><a class="dropdown-item" href="http://sql-format.com">Devart For SQLServer</a></li>
                    <li><a class="dropdown-item" href="https://www.red-gate.com/website/sql-formatter">Reg-Data For SQLServer</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-12">
            <div id="editor" class="border overflow-hidden position-relative">
                <i class="fa fa-arrows-alt fa-fw me-full-btn" title="Switch the full screen"></i>
            </div>
        </div>
    </div>
</div>

@Html.Raw(Netnr.SharedApp.QuoteTo.Html("sql-formatter.js,monaco-editor"))