<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 nrBS">
            <h4>功能还在开发中 ...</h4>

            <input id='up' type="file" />

            <a href="#" class="nrDownload">download</a>
        </div>
    </div>
</div>

<script src="/js/bedStorage.js" asp-append-version="true"></script>

<script>

    document.getElementById('up').onchange = function () {
        var file = this.files[0];

        bs.upload(file).then(res => {
            console.log(res);
        }).catch(err => {
            console.log(err);
        })
    }

    bs.download("https://cy-pic.kuaizhan.com/g3/e1/39/e094-547b-43c9-ba67-f5b422be7d9d14?cysign=fa71a99bbfb70aa37283690ca2b96024&cyt=1608106856").then(info => {
        var node = bs.infoAsNode(info);
        document.querySelector(".nrDownload").href = node.src || node.href;
        document.querySelector(".nrDownload").setAttribute("download", info.name);
        document.body.appendChild(node);
    });
</script>