<style>
    #preview iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        border: none;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-auto">
            <select class="form-select nrSeMerge">
                <option value="1">合并</option>
                <option value="0">优化</option>
            </select>
        </div>
        <div class="col-auto">
            <button class="btn btn-warning nrDown">下载</button>
        </div>
        <div class="col">
            <input id="txtFile" type="file" class="form-control" multiple accept="*">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 d-none mt-3">
            <div id="editor" class="border overflow-hidden position-relative">
                <i class="fa fa-arrows-alt fa-fw me-full-btn" title="Switch the full screen"></i>
            </div>
        </div>
        <div class="col-md-6 d-none mt-3">
            <div id="preview" class="border overflow-hidden position-relative">
            </div>
        </div>
    </div>
</div>

@Html.Raw(Netnr.SharedApp.QuoteTo.Html("svgo.js,jszip.js,monaco-editor"))