<div class="container-fluid">
    <div class="row">
        <div class="col-auto mb-3">
            <button class="btn btn-success nrBtnSwaggerUI">SwaggerUI</button>
        </div>
        <div class="col-auto mb-3">
            <div class="btn-group">
                <button class="btn btn-secondary nrBtnYamlToJson">Yaml</button>
                <button class="btn btn-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z" />
                    </svg>
                </button>
                <button class="btn btn-secondary nrBtnJsonToYaml">Json</button>
            </div>
        </div>
        <div class="col-auto mb-3">
            <button class="btn btn-primary nrBtnSwaggerToOpenAPI">
                Swagger
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                </svg>
                OpenAPI
            </button>
        </div>
        <div class="col-auto mb-3">
            <div class="input-group">
                <button class="btn btn-warning nrTo">转文档</button>
                <select class="form-select nrConfigOnlyJson">
                    <option value="1">仅 JSON</option>
                    <option value="0">不处理</option>
                </select>
            </div>
        </div>
        <div class="col-auto mb-3">
            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">下载</button>
                <ul class="dropdown-menu dropdown-menu-end nrDown">
                    <li><button class="dropdown-item" type="button">Markdown</button></li>
                    <li><button class="dropdown-item" type="button">HTML</button></li>
                    <li><button class="dropdown-item" type="button">Word</button></li>
                    <li><button class="dropdown-item" type="button">PDF</button></li>
                    <li><button class="dropdown-item" type="button">PNG</button></li>
                </ul>
            </div>
        </div>
        <div class="col-auto mb-3">
            <button class="btn btn-dark nr-demo">Demo</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="border overflow-hidden position-relative nrEditorSwagger1"></div>
        </div>
        <div class="col-md-6 nrOutBox">
            <div class="d-none border overflow-hidden position-relative nrEditorSwagger2"></div>
            <div class="d-none nrEditorSwagger3">
                <div class="nrMarkdownEditor"></div>
            </div>
            <div class="d-none border overflow-auto position-relative nrSwaggerUI"></div>
        </div>
    </div>
</div>

@Html.Raw(Netnr.SharedApp.QuoteTo.Html("netnrmd.css,netnrmd.js,esprima.js,js-yaml.js,api-spec-converter.js,swagger-ui-dist.css,swagger-ui-dist.js,xml2json.js,monaco-editor"))

<script src="/js/swaggerto.js" asp-append-version="true"></script>