<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul>
                <li>国内</li>
                <li><a href="https://www.pdflibr.com" target="_blank">https://www.pdflibr.com</a></li>
                <li><a href="https://www.visitorsms.com/cn" target="_blank">https://www.visitorsms.com/cn</a></li>
                <li><a href="https://www.becmd.com" target="_blank">https://www.becmd.com</a></li>
                <li><a href="http://www.114sim.com" target="_blank">http://www.114sim.com</a></li>
                <li><a href="https://yunduanxin.net" target="_blank">https://yunduanxin.net</a></li>
                <li><a href="http://www.smszk.com" target="_blank">http://www.smszk.com</a></li>
                <li><a href="http://www.shejiinn.com" target="_blank">http://www.shejiinn.com</a></li>
                <li><a href="https://sms.cngrok.com" target="_blank">https://sms.cngrok.com</a></li>
            </ul>
            <ul>
                <li>国外</li>
                <li><a href="https://ch.freephonenum.com" target="_blank">https://ch.freephonenum.com</a></li>
                <li><a href="https://smsreceivefree.com" target="_blank">https://smsreceivefree.com</a></li>
                <li><a href="https://zh.mytrashmobile.com" target="_blank">https://zh.mytrashmobile.com</a></li>
                <li><a href="https://www.receive-sms-online.info" target="_blank">https://www.receive-sms-online.info</a></li>
                <li><a href="https://receiveasms.com" target="_blank">https://receiveasms.com</a></li>
                <li><a href="https://sms-online.co/receive-free-sms" target="_blank">https://sms-online.co/receive-free-sms</a></li>
                <li><a href="https://receive-sms.com" target="_blank">https://receive-sms.com</a></li>
            </ul>
            <ul>
                <li>免费短信接码网站，from <a target="_blank" href="https://hao.su/2495/">hao.su/2495</a></li>
            </ul>
        </div>
    </div>
</div>