<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul>
                <li><a target="_blank" href="https://9em.org">https://9em.org</a></li>
                <li><a target="_blank" href="https://bccto.me">https://bccto.me</a></li>
                <li><a target="_blank" href="https://maildrop.cc">https://maildrop.cc</a></li>
                <li><a target="_blank" href="https://10minutemail.net">https://10minutemail.net</a></li>
            </ul>
            <ul>
                <li>临时邮箱，from <a target="_blank" href="https://hao.su/1492/#menu_index_6">hao.su/1492</a></li>
            </ul>
        </div>
    </div>
</div>