<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mb-1">
            <div class="mx-auto" style="max-width:750px">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <select class="custom-select" id="seM3u8"></select>
                    </div>
                    <input id="txtM3u8" class="form-control" placeholder="请粘贴 M3U8 播放源（http 协议播放源须允许）" />
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <video id="video" controls class="mw-100"></video>
        </div>
    </div>
</div>

<partial name="_PartialQuote" model="@("hls.js")" />

<script src="/js/tv.js" asp-append-version="true"></script>