<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <input class="form-control fs-5 mb-3 nr-ua" placeholder="请粘贴 User-Agent 信息" />
        </div>
    </div>
    <div class="row nr-result"></div>
</div>

@Html.Raw(Netnr.SharedApp.QuoteTo.Html("device-detector-js.js"))