<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <input class="form-control mb-3 nr-ua" placeholder="请粘贴 User-Agent 信息" />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>浏览器</th>
                        <th>内核</th>
                        <th>系统</th>
                        <th>设备</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/gh/netnr/cdn/libs/device-detector/2.2.9/dd.min.js"></script>

<script>
    var pg = {
        ua: navigator.userAgent,
        init: function () {
            $('.nr-ua').on('input', function () {
                if (this.value == "") {
                    pg.parse(pg.ua);
                } else {
                    pg.parse(this.value);
                }
            }).val(pg.ua);

            pg.parse(pg.ua);
        },
        parse: function (ua) {
            var uaobj = dd(ua);
            if (uaobj.bot) {
                $('table').find('tbody').html(`<tr><td colspan="4"><pre class="m-0 p-3">${JSON.stringify(uaobj.bot, null, 2)}</pre></td></tr>`);
            } else {
                var uc = uaobj.client,
                    uo = uaobj.os,
                    ud = uaobj.device,
                    ci = `${uc.name} ${uc.version}`,
                    ei = `${uc.engine} ${uc.engineVersion}`,
                    oi = `${uo.name} ${uo.version} ${uo.platform}`,
                    di = `${ud.brand} ${ud.model}`;

                $('table').find('tbody').html(`<tr><td>${ci}</td><td>${ei}</td><td>${oi}</td><td>${di}</td></tr>`);
            }
        }
    }

    pg.init();
</script>