<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <div class="input-group-append">
                    <select class="custom-select" id="setheme">
                        <optgroup label="Theme">
                            <option value="vs">Visual Studio</option>
                            <option value="vs-dark">Visual Studio Dark</option>
                            <option value="hc-black">High Contrast Dark</option>
                        </optgroup>
                    </select>
                </div>
                <div class="input-group-append">
                    <select class="custom-select" id="selanguage">
                        <optgroup label="Language"></optgroup>
                    </select>
                </div>
                <button class="btn btn-warning d-none" id="btnRun" title="运行全局对象：window.ee">运行</button>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <div id="editor" class="border overflow-hidden position-relative">
                <i class="fa fa-arrows-alt fa-fw me-full-btn" title="Switch the full screen"></i>
            </div>
        </div>
    </div>
</div>

<script>
    function AutoHeight() {
        var ch = $(window).height() - $('#editor').offset().top - 15;
        $('#editor').css('height', Math.max(200, ch));
    }
    AutoHeight();
</script>

@Html.Raw(Netnr.SharedApp.QuoteTo.Html("monaco-editor"))

<script>
    var editor,
        defaultLang = ss.lsStr("vscode-lang") || 'javascript',
        defaultContent = ss.lsStr("vscode-content") || 'console.log("Hello world!");',
        defaultTheme = ss.lsStr("vscode-theme") || 'vs';

    require(['vs/editor/editor.main'], function () {
        var modesIds = monaco.languages.getLanguages().map(function (lang) { return lang.id }).sort();

        var te = $("#editor"), selang = $('#selanguage'),
            languagehtm = [];
        for (var i = 0; i < modesIds.length; i++) {
            var mo = modesIds[i];
            languagehtm.push('<option>' + mo + '</option>');
        }
        selang.children()[0].innerHTML = languagehtm.join('');

        editor = monaco.editor.create(te[0], {
            value: defaultContent,
            language: defaultLang,
            automaticLayout: true,
            theme: defaultTheme,
            scrollbar: {
                verticalScrollbarSize: 6,
                horizontalScrollbarSize: 6
            },
            minimap: {
                _enabled: false
            }
        });

        selang.change(function () {
            var oldModel = editor.getModel();
            var newModel = monaco.editor.createModel(editor.getValue(), this.value);
            editor.setModel(newModel);
            if (oldModel) {
                oldModel.dispose();
            }
            ss.ls["vscode-lang"] = this.value;
            ss.lsSave();

            if (this.value == "javascript") {
                $('#btnRun').removeClass('d-none');
            } else {
                $('#btnRun').addClass('d-none');
            }
        }).val(defaultLang);
        if (defaultLang == "javascript") {
            $('#btnRun').removeClass('d-none');
        } else {
            $('#btnRun').addClass('d-none');
        }

        $('#setheme').change(function () {
            monaco.editor.setTheme(this.value);
            ss.ls["vscode-theme"] = this.value;
            ss.lsSave();
        }).val(defaultTheme);

        editor.onDidChangeModelContent(function (e) {
            clearTimeout(window.defer1);
            window.defer1 = setTimeout(function () {
                ss.ls["vscode-content"] = editor.getValue();
                ss.lsSave();
            }, 1000 * 1)
        });
    });

    $('#btnRun').click(function () {
        try {
            window.ee = new Function(editor.getValue());
            ee();
        } catch (e) {
            console.error(e);
        }
    });

    $(window).resize(AutoHeight);
</script>