<div class="container-fluid d-none nr-vscode-box">
    <div class="row">
        <div class="col-auto">
            <select class="form-select" id="selanguage">
                <optgroup label="Language"></optgroup>
            </select>
        </div>
        <div class="col-auto">
            <select class="form-select" id="setheme">
                <optgroup label="Theme">
                    <option value="vs">vs</option>
                    <option value="vs-dark">vs-dark</option>
                    <option value="hc-black">hc-black</option>
                </optgroup>
            </select>
        </div>
        <div class="col-auto">
            <button class="btn btn-warning d-none" id="btnRun" title="运行全局对象：window.ee">运行</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <div id="editor" class="border overflow-hidden position-relative">
                <i class="fa fa-arrows-alt fa-fw me-full-btn" title="Switch the full screen"></i>
            </div>
        </div>
    </div>
</div>

@Html.Raw(Netnr.SharedApp.QuoteTo.Html("monaco-editor"))