<style>
    body {
        overflow-y: scroll;
    }

    .position-sticky {
        top: 1em;
        z-index: 1;
    }

    .nr-cell {
        position: relative;
    }

        .nr-cell img {
            max-width: 100%;
            max-height: 100%;
            cursor: zoom-in;
            border-radius: 6px;
        }

        .nr-cell .list-group {
            position: absolute;
            top: 0.25em;
            left: 0.25em;
            opacity: .8;
            display: none;
        }

        .nr-cell:hover .list-group {
            display: block;
        }
</style>

<div class="container-fluid">
    <div class="row position-sticky">
        <div class="col-auto mb-2">
            <a href="/"><img src="/favicon.ico" style="height:30px" /></a>
        </div>
        <div class="col-auto">
            <div class="input-group input-group-sm mb-2">
                <select class="form-select nr-se-proxy">
                    <option value="0">不代理</option>
                    <option value="1">代理一</option>
                </select>
            </div>
        </div>
        <div class="col-auto">
            <div class="input-group input-group-sm mb-2">
                <select class="form-select nr-se-type">
                    <option value="">最新壁纸</option>
                    <option disabled>---------</option>
                    <option value="36">4K专区</option>
                    <option value="6">美女模特</option>
                    <option value="30">爱情美图</option>
                    <option value="9">风景大片</option>
                    <option value="15">小清新</option>
                    <option value="26">动漫卡通</option>
                    <option value="11">明星风尚</option>
                    <option value="14">萌宠动物</option>
                    <option value="5">游戏壁纸</option>
                    <option value="12">汽车天下</option>
                    <option value="10">炫酷时尚</option>
                    <option value="22">军事天地</option>
                    <option value="16">劲爆体育</option>
                    <option value="32">纹理</option>
                    <option value="35">文字控</option>
                    <option value="29">月历壁纸</option>
                    <option value="7">影视剧照</option>
                    <option value="13">节日美图</option>
                    <option value="18">BABY秀</option>
                </select>
            </div>
        </div>
        <div class="col-sm-auto">
            <div class="input-group input-group-sm mb-2">
                <button class="btn btn-outline-secondary nr-btn-search" type="button">搜索</button>
                <input type="text" class="form-control nr-txt-search" placeholder="Search..." />
            </div>
        </div>
        <div class="col">
        </div>
        <div class="col-auto mb-2">
            <a href="/message" class="btn btn-light btn-sm" target="_blank">留言</a>
            <a href="https://netnr.eu.org" class="btn btn-light btn-sm" target="_blank">联系打赏</a>
        </div>
    </div>
    <div class="row nr-wallpaper">
    </div>
</div>

@Html.Raw(Netnr.SharedApp.QuoteTo.Html("viewer.css,viewer.js"))