<div class="container-fluid">
    <div class="row">
        <div class="col-auto mb-3">
            <div class="input-group">
                <span class="input-group-text">Token</span>
                <input class="form-control" id="txtToken" placeholder="请粘贴 API token" maxlength="32" />
            </div>
        </div>
        <div class="col-auto mb-3">
            <div class="input-group">
                <span class="input-group-text">NetworkId</span>
                <input class="form-control" id="txtNetworkId" placeholder="请粘贴 NetworkId" maxlength="16" />
            </div>
        </div>
        <div class="col-auto mb-3">
            <a class="btn btn-warning" target="_blank" href="https://my.zerotier.com">ZeroTier</a>
        </div>
        <div class="col-md-12">
            <div class="grid ag-theme-alpine"></div>
        </div>
    </div>
</div>

@Html.Raw(Netnr.SharedApp.QuoteTo.Html("ag-grid-enterprise.js"))