<div class="container">
    <h5>git</h5>
    <div>
        ● <a class="mr-4" href="https://github.com/netnr/zoning">https://github.com/netnr/zoning</a>
        ● <a href="https://gitee.com/netnr/zoning">https://gitee.com/netnr/zoning</a>
    </div>
    <h5 class="mt-4">npm</h5>
    <div>
        ● <a class="mr-4" href="https://unpkg.com/zoningjs/">https://unpkg.com/zoningjs/</a>
        ● <a href="https://code.bdstatic.com/npm/zoningjs@2.0.19/0.json">https://code.bdstatic.com/npm/zoningjs@2.0.19/0.json</a> (国内镜像)
    </div>
    <h5 class="mt-4">四级联动（省级、地级、县级、乡级）</h5>
    <div>
        ● <a href="https://code.bdstatic.com/npm/zoningjs@2.0.19/zoning-4.json">https://code.bdstatic.com/npm/zoningjs@2.0.19/zoning-4.json</a> (国内镜像)
    </div>
    <div class="row" id="zoning4">
        <div class="col-md-3 col-sm-6 mt-2">
            <select class="custom-select"></select>
        </div>
        <div class="col-md-3 col-sm-6 mt-2">
            <select class="custom-select"></select>
        </div>
        <div class="col-md-3 col-sm-6 mt-2">
            <select class="custom-select"></select>
        </div>
        <div class="col-md-3 col-sm-6 mt-2">
            <select class="custom-select"></select>
        </div>
    </div>
    <h5 class="mt-4">五级联动（省级、地级、县级、乡级和村级）</h5>
    <div class="row" id="zoning5">
        <div class="col-md-3 col-sm-6 mt-2">
            <select class="custom-select"></select>
        </div>
        <div class="col-md-3 col-sm-6 mt-2">
            <select class="custom-select"></select>
        </div>
        <div class="col-md-3 col-sm-6 mt-2">
            <select class="custom-select"></select>
        </div>
        <div class="col-md-3 col-sm-6 mt-2">
            <select class="custom-select"></select>
        </div>
        <div class="col-md-3 col-sm-6 mt-2">
            <select class="custom-select"></select>
        </div>
    </div>
    <p class="psecode mt-2" id="zoningcode5"></p>
</div>

<script src="/js/zoning.js" asp-append-version="true"></script>