<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>npm i zoningjs</h3>
            <p><a href="https://unpkg.com/zoningjs/">https://unpkg.com/zoningjs/</a></p>
            <h3>release</h3>
            <p><a href="https://github.com/netnr/zoning">https://github.com/netnr/zoning</a></p>
        </div>
    </div>

    <h4 class="my-3">三级联动(省地县级)</h4>
    <div class="row nr3">
        <div class="col-md-4 col-sm-6 mb-2">
            <select class="form-select"></select>
        </div>
        <div class="col-md-4 col-sm-6 mb-2">
            <select class="form-select"></select>
        </div>
        <div class="col-md-4 col-sm-6 mb-2">
            <select class="form-select"></select>
        </div>
    </div>
    <div class="nrout3"></div>

    <h4 class="my-3">五级联动(省地县乡和村级)</h4>
    <div class="row nr5">
        <div class="col-xl col-md-3 col-sm-6 mb-2">
            <select class="form-select"></select>
        </div>
        <div class="col-xl col-md-3 col-sm-6 mb-2">
            <select class="form-select"></select>
        </div>
        <div class="col-xl col-md-3 col-sm-6 mb-2">
            <select class="form-select"></select>
        </div>
        <div class="col-xl col-md-3 col-sm-6 mb-2">
            <select class="form-select"></select>
        </div>
        <div class="col-xl col-md-3 col-sm-6 mb-2">
            <select class="form-select"></select>
        </div>
    </div>
    <div class="nrout5"></div>
</div>