@model string
@{
    var listQuote = Model.Split(',').ToList();
}
@foreach (var item in listQuote)
{
    switch (item)
    {
        case "fa.css":
            <link href="https://code.bdstatic.com/npm/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet">
            break;

        case "jquery.js":
            <script src="https://code.bdstatic.com/npm/jquery@3.5.0/dist/jquery.min.js"></script>
            break;

        case "bootstrap.css":
            <link href="https://code.bdstatic.com/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
            break;

        case "bootstrap.js":
            <script src="https://code.bdstatic.com/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
            break;

        case "jz.js":
            <script src="https://code.bdstatic.com/npm/jzjs@2.0.2/2.0.2/jz.min.js"></script>
            break;

        case "netnrnav.css":
            <link href="https://code.bdstatic.com/npm/netnrnav@1.1.0/src/netnrnav.css" rel="stylesheet" />
            break;

        case "netnrnav.js":
            <script src="https://code.bdstatic.com/npm/netnrnav@1.1.0/src/netnrnav.js" defer async></script>
            break;

        case "bootstrap-table.css":
            <link href="https://code.bdstatic.com/npm/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">
            break;

        case "bootstrap-table.js":
            <script src="https://code.bdstatic.com/npm/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
            <script src="https://code.bdstatic.com/npm/bootstrap-table@1.16.0/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
            break;

        case "webuploader.js":
            <script src="https://code.bdstatic.com/npm/webuploader@0.1.8/dist/webuploader.html5only.min.js"></script>
            break;

        case "qrcode.js":
            <script src="https://cdn.jsdelivr.net/gh/netnr/cdn/libs/qrcodejs/20200706/qrcode.min.js"></script>
            break;

        case "bmob.js":
            <script src="/lib/bmob/Bmob-1.7.0.min.js" asp-append-version="true"></script>
            break;

        case "xml2json.js":
            <script src="https://cdn.jsdelivr.net/gh/abdolence/x2js@1.2.0/xml2json.min.js"></script>
            break;

        case "sql-formatter.js":
            <script src="https://code.bdstatic.com/npm/sql-formatter@2.3.3/dist/sql-formatter.min.js"></script>
            break;

        case "hls.js":
            <script src="https://code.bdstatic.com/npm/hls.js@0.13.2/dist/hls.min.js"></script>
            break;

        case "monaco-editor":
            <script src="https://code.bdstatic.com/npm/monaco-editor@0.20.0/min/vs/loader.js"></script>
            <script>
                require.config({
                    paths: { vs: "https://code.bdstatic.com/npm/monaco-editor@0.20.0/min/vs" },
                    'vs/nls': { availableLanguages: { '*': 'zh-cn' } }
                });
            </script>
            break;

        case "loading":
            <div id="LoadingMask" style="position: fixed; top: 0; left: 0; bottom: 0; right: 0; background-color: white; z-index: 9999; background-image:url('/images/loading.svg');background-repeat:no-repeat;background-position:48% 45%"></div>
            break;

        case "the":
            <!--
            https://github.com/netnr
            https://gitee.com/netnr
            https://www.netnr.com
            https://zme.ink
            -->
            break;
    }
}