@{
    ViewData["Title"] = "Grid多表格变动";
}

<!--列表-->
<div class="row">
    <div class="col-md-5">
        <div id="PGrid1" class="gridedit">
            <div id="Grid1" class="loadingimg"></div>
        </div>
    </div>
    <div class="col-md-7">
        <div id="PGrid2" class="gridedit">
            <div id="Grid2" class="loadingimg"></div>
        </div>
    </div>
</div>

<!--搜索模块-->
<script src="/js/inlay/configquery.js" asp-append-version="true"></script>

<script src="/js/rf/gridchange.js" asp-append-version="true"></script>