
@{
    ViewData["Title"] = "修改密码";
}

<div class="container">
    <form class="form-horizontal formui" id="fv_upwd">
        <div class="row mt15">
            <div class='col-md-5 col-md-offset-2'>
                <div class="form-group">
                    <label class='control-label required'>现有密码</label>
                    <div>
                        <input type='password' name="oldpwd" class="form-control" />
                    </div>
                </div>
            </div>
            <div class='col-md-5 col-md-offset-2'>
                <div class="form-group">
                    <label class='control-label required'>新的密码</label>
                    <div>
                        <input type='password' name="newpwd1" class="form-control" />
                    </div>
                </div>
            </div>
            <div class='col-md-5 col-md-offset-2'>
                <div class="form-group">
                    <label class='control-label required'>确认密码</label>
                    <div>
                        <input type='password' name="newpwd2" class="form-control" />
                    </div>
                </div>
            </div>
            <div class='col-md-5 col-md-offset-2'>
                <div class="form-group">
                    <label class='control-label'></label>
                    <div>
                        <button class="btn btn-primary" id="btnUpwd">修改密码</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="/js/account/updatepassword.js" asp-append-version="true"></script>