@model Netnr.Blog.Domain.Draw

@{
    ViewData["Title"] = "Form draw";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form id="fromid" class="my-5" action="/draw/code/saveform">
                <div class="form-group">
                    <select class="custom-select" name="DrType" @(Model == null ? "" : "disabled")>
                        @if (Model?.DrType == "mind")
                        {
                            <option value="draw">绘制（Draw）</option>
                            <option value="mind" selected>思维导图（Mind Mapping）</option>
                        }
                        else
                        {
                            <option value="draw">绘制（Draw）</option>
                            <option value="mind">思维导图（Mind Mapping）</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" required name="DrName" value="@Model?.DrName" placeholder="标题名称" maxlength="50" autofocus />
                    <small class="form-text text-muted">必填</small>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="DrRemark" placeholder="描述" maxlength="200">@Model?.DrRemark</textarea>
                </div>
                <div class="form-group">
                    <select class="custom-select" name="DrOpen">
                        @if (Model?.DrOpen == 2)
                        {
                            <option value="1">公开（只读）</option>
                            <option value="2" selected>私有</option>
                        }
                        else
                        {
                            <option value="1">公开（只读）</option>
                            <option value="2">私有</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" name="Spare1" value="@Model?.Spare1" placeholder="分享码，不需要分享可不填写" maxlength="4" />
                    <small class="form-text text-muted">私有时，可根据分享码 <b>查看</b>，长度 4 位</small>
                </div>
                <input type="hidden" name="DrId" value="@Model?.DrId" />
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i>&nbsp;保存
                </button>
            </form>
        </div>
    </div>
</div>

<script>
    var open = $('select[name="DrOpen"]'), sc = $('input[name="Spare1"]');
    //分享码
    sc[0].readOnly = open.val() == 1;
    open.change(function () {
        sc[0].readOnly = open.val() == 1;
    });
    sc.on('input', function () {
        if (this.value.length > 4) {
            this.value = String(this.value).substr(0, 4);
        }
    });
</script>