.form-control:focus {
    box-shadow: none;
}

@media (min-width: 1666px) {
    .col-xxl-2, .col-ll-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-xxl-3 {
        flex: 0 0 auto;
        width: 25%;
    }
}

/*卡片*/
.card-pi {
    height: 132px;
    overflow: hidden;
}

    .card-pi .card-tool {
        position: absolute;
        top: 5px;
        z-index: 2;
        right: 12px;
        display: none;
        cursor: pointer;
        font-size: 1.2rem;
        user-select: none;
    }

        .card-pi .card-tool a {
            display: block;
            line-height: 2rem;
            text-decoration: none;
        }

    .card-pi .card-title {
        position: sticky;
        top: 0;
        display: block;
        min-width: 100%;
        margin-bottom: 0;
        padding-bottom: .5rem;
        background-color: white;
    }

        .card-pi .card-title:hover {
            color: orange;
            text-decoration: none;
        }

    .card-pi:hover, .card-pi:focus {
        overflow: auto;
    }

        .card-pi:hover .card-tool, .card-pi:focus .card-tool {
            display: block;
        }

.ndnav a {
    text-decoration: none;
}
