@model Netnr.Blog.Application.ViewModel.DocTreeViewVM

<div class="container-fluid" id="dtview">
    <div class="row">
        <div class="col-12">
            @if (string.IsNullOrWhiteSpace(Model.DsdId))
            {
                <div class="text-center py-5 my-5">
                    <img src="/images/smile.svg" />
                    <p class="mt-3">@Model.DsdContentHtml</p>
                    <small class="text-muted">
                        创建于：@VisualFormatService.Duration(Model.DsdCreateTime.Value)
                    </small>
                </div>
            }
            else
            {
                <h2 class="font-weight-bold">@Model.DsdTitle</h2>
                <div class="text-muted small mt-3">
                    <span class="text-nowrap mr-3">
                        <i class="fa fa-clock-o text-muted"></i>
                        创建于：@VisualFormatService.Duration(Model.DsdCreateTime.Value)
                    </span>
                    @if (Model.DsdCreateTime != Model.DsdUpdateTime)
                    {
                        <span class="text-nowrap mr-3">
                            <i class="fa fa-clock-o text-muted"></i>
                            更新于：@VisualFormatService.Duration(Model.DsdUpdateTime.Value)
                        </span>
                    }
                    @if (Model.DsdOrder.HasValue)
                    {
                        <span class="text-nowrap mr-3">
                            <i class="fa fa-sort-amount-asc text-muted"></i>
                            排序号：@Model.DsdOrder
                        </span>
                    }
                </div>
                <hr />
                <div class="markdown-body">
                    @Html.Raw(Model.DsdContentHtml)
                </div>
            }
        </div>
    </div>
</div>