<div class="@QuoteTo.PanelClass2">
    <div class="row">
        <div class="col-12 mb-2">
            <label class="form-label">选择文件（支持拖拽、粘贴）</label>
            <input class="nrg-txt-file form-control" type="file" />
        </div>
        <div class="col-12 mb-2">
            <div class="nrg-editor border" style="height:12em"></div>
            <div class="nrg-card-info form-text">&nbsp;</div>
        </div>
        <div class="col-auto mb-2">
            <div class="input-group">
                <button class="nrg-btn-tofile btn btn-warning">Base64 转文件</button>
                <input class="nrg-txt-mime form-control" placeholder="指定 MIME-Type" />
            </div>
        </div>
        <div class="col-auto mb-2">
            <div class="btn-group">
                <button class="nrg-btn-decode btn btn-success">Base64 解码</button>
                <button class="nrg-btn-encode btn btn-primary">Base64 编码</button>
            </div>
        </div>
        <div class="col-auto mb-2">
            <div class="nrg-dd-detect dropdown">
                <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="false">检测 Base64 MIME</button>
                <ul class="dropdown-menu"></ul>
            </div>
        </div>
        <div class="col-12">
            <div class="nrg-card-result mb-2"></div>
        </div>
    </div>
</div>