<div class="container-fluid p-4">
    <div class="row">
        <div class="col-auto">
            <sl-button href="https://iao.su/pic.html" target="_blank">图床资源</sl-button>
            <sl-button href="https://yh-pic.ihcloud.net/wangyi.html" target="_blank">聚合图床</sl-button>
            <sl-button href="https://imgtg.com" target="_blank">TG 图床</sl-button>
        </div>
        <div class="col-12">
        </div>
    </div>
</div>