<div class="@QuoteTo.PanelClass2">
    <div class="row">
        <div class="col-12 mb-4">
            <div class="input-group input-group-lg">
                <span class="input-group-text">体重</span>
                <input type="number" class="nrg-txt-number1 form-control" placeholder="体重" min="25" max="300" step="1" maxlength="3" />
            </div>
            <div class="form-text">（单位：千克/kg）</div>

            <div class="input-group input-group-lg mt-3">
                <span class="input-group-text">身高</span>
                <input type="number" class="nrg-txt-number2 form-control" placeholder="身高" min="1" max="300" step="1" maxlength="3" />
            </div>
            <div class="form-text">（单位：厘米/cm）</div>

            <div class="input-group input-group-lg mt-3">
                <span class="input-group-text">BMI</span>
                <input class="nrg-txt-number3 form-control" placeholder="输出 BMI 值" readonly />
            </div>
        </div>

        <div class="col-auto mb-2">
            <button class="btn btn-outline-secondary" title="低重：BMI < 18.5">低重：BMI < 18.5</button>
        </div>
        <div class="col-auto mb-2">
            <button class="btn btn-outline-success" title="正常：18.5 ≤ BMI < 24.0">正常：18.5 ≤ BMI < 24.0</button>
        </div>
        <div class="col-auto mb-2">
            <button class="btn btn-outline-warning" title="超重：24.0 ≤ BMI < 28.0">超重：24.0 ≤ BMI < 28.0</button>
        </div>
        <div class="col-auto mb-2">
            <button class="btn btn-outline-danger" title="肥胖：BMI ≥ 28.0">肥胖：BMI ≥ 28.0</button>
        </div>

        <div class="col-12 mt-4">
            <p>计算公式： BMI = 体重 (KG) ÷ 身高 ²(M)</p>
            <p>比如：小明是一个 60 公斤的人，身高是 1.7 米，则他的计算结果应该是：60÷1.7² =20.76</p>
            <p>一个人的健康指数范围应该是在：18.5～24，指数在这之间是最好最正常的！</p>
        </div>
    </div>
</div>