<div class="@QuoteTo.PanelClass1">
    <div class="nrg-wait">Loading...</div>
    <div class="row invisible mx-lg-auto" style="max-width:70em">
        <div class="col-auto">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M3.5 15a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zm9-9a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zm0 9a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zM16 3.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0zm-9 9a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0zm5.5 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zm-9-11a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 2a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                    </svg>
                </button>
                <ul class="dropdown-menu">
                    <li><button class="dropdown-item" data-action="mute">静音 Mute</button></li>
                    <li><button class="dropdown-item" data-action="about">关于 About</button></li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-2">
                <input type="text" class="nrg-txt-account form-control" placeholder="请输入一个账号">
                <button class="nrg-btn-login btn btn-outline-secondary" type="button">加入</button>
            </div>
        </div>
        <div class="col-12">
            <div class="nrg-chat mb-4">
                <div class="nrg-chat-view border border-bottom-0 rounded overflow-auto p-3 markdown-body"></div>
                <div class="nrg-chat-write"></div>
            </div>
        </div>
    </div>
</div>