<div class="@QuoteTo.PanelClass1">
    <div class="row">
        <div class="col-md-auto mb-2">
            <select class="nrg-se-type form-select">
                <option value="regex">正则表达式</option>
                <option disabled></option>
                <option value="purine">食物嘌呤</option>
                <option value="gc">垃圾分类</option>
                <option disabled></option>
                <option value="stats-product-category">产品分类代码</option>
            </select>
        </div>
        <div class="col-md mb-2">
            <input class="nrg-txt-filter form-control" placeholder="Search..." />
        </div>
        <div class="nrg-card-regex col-md-auto mb-2 d-none">
            <a class="btn btn-secondary" href="https://regex101.com/" target="_blank">regex101</a>
            <a class="btn btn-secondary" href="https://tool.chinaz.com/regex" target="_blank">站长正则</a>
        </div>
        <div class="col-12">
            <div class="nrg-grid"></div>
        </div>
    </div>
</div>