<div class="@QuoteTo.PanelClass1">
    <div class="row">
        <div class="col-auto mb-2">
            <select class="nrg-se-diff form-select">
                <option value="0">左右</option>
                <option value="1">内联</option>
            </select>
        </div>
        <div class="col-auto mb-2">
            <button class="nrg-btn-next btn btn-secondary">Next</button>
        </div>
        <div class="col-sm mb-2">
            <input class="nrg-txt-file w-100 form-control" type="file" />
        </div>
        <div class="col-12">
            <div class="nrg-editor"></div>
        </div>
    </div>
</div>