<div class="nr-card-box invisible container-fluid p-4">
    <div class="row">
        <div class="col-auto mb-3">
            <sl-button class="nr-btn-format" variant="warning" title="Shift+Alt+F 快捷格式化">格式化</sl-button>
        </div>
        <div class="col-auto mb-3">
            <sl-select class="nr-se-language" value="javascript" style="width:10em">
                <sl-menu-item value="javascript">JavaScript</sl-menu-item>
                <sl-menu-item value="html">HTML</sl-menu-item>
                <sl-menu-item value="css">CSS</sl-menu-item>
            </sl-select>
        </div>
        <div class="col-auto mb-3">
            <sl-input class="nr-txt-number" placeholder="间隔" type="number" value="4" min="1" max="9" step="1"></sl-input>
        </div>
        <div class="col-auto mb-3">
            <input class="nr-txt-file" type="file" />
        </div>
        <div class="col-12">
            <div class="nr-editor"></div>
        </div>
    </div>
</div>

@Html.Raw(Netnr.SharedApp.QuoteTo.Html("js-beautify,monaco-editor"))