@{
    var md = File.ReadAllText(AppTo.WebRootPath + "/file/data-free.md");
    var html = Markdig.Markdown.ToHtml(md);
}

<div class="@QuoteTo.PanelClass2">
    <div class="row">
        <div class="col-12 text-break">
            @Html.Raw(html.Replace("<ul>","<ul class='ps-4'>"))
        </div>
    </div>
</div>