<div class="container-fluid p-4">
    <div class="row">
        <div class="col-md mb-3">
            <sl-input class="nr-txt-filter" placeholder="Search..."></sl-input>
        </div>
        <div class="col-12">
            <div class="nr-grid"></div>
        </div>
    </div>
</div>

@Html.Raw(Netnr.SharedApp.QuoteTo.Html("ag-grid-enterprise.js"))