<div class="@QuoteTo.PanelClass2">
    <div class="row">
        <div class="col-auto mb-2">
            <div class="input-group">
                <span class="input-group-text p-0">
                    <select class="nrg-se-name form-select border-0">
                        <option value="1">新文件名</option>
                        <option value="0">原文件名</option>
                    </select>
                </span>
                <input type="file" class="nrg-txt-file form-control" multiple />
            </div>
        </div>
        <div class="col-auto mb-2">
            <button class="nrg-btn-upload btn btn-warning">Upload</button>
        </div>
        <div class="col-auto mb-2">
            <div class="input-group">
                <a class="input-group-text" href="javascript:void(0)" target="_blank">owner / repo</a>
                <input class="nrg-txt-or form-control" placeholder="必填，用户/仓库，例：netnr/np" />
            </div>
        </div>
        <div class="col-auto mb-2">
            <div class="input-group">
                <a class="input-group-text" href="https://github.com/settings/tokens" target="_blank">token</a>
                <input class="nrg-txt-token form-control" placeholder="必填，访问仓库的 token，长度 40" />
            </div>
        </div>
        <div class="col-auto mb-2">
            <div class="input-group">
                <span class="input-group-text">proxy</span>
                <select class="nrg-se-proxy form-select">
                    <option value="">（选择代理）</option>
                    <option title="Cloudflare Workers" value="https://cors.eu.org/">cors.eu.org</option>
                    <option title="Cloudflare Pages Functions" value="https://seep.eu.org/">seep.eu.org</option>
                    <option title="Netnr mirror site" value="https://netnr.zme.ink/api/v1/Proxy/?url=">netnr.zme.ink</option>
                </select>
            </div>
        </div>
    </div>
    <div class="nrg-card-list row mt-3"></div>
</div>