<div class="container-fluid p-4">
    <div class="row">
        <div class="col-auto">
            <sl-button class="nr-btn-query" variant="warning">查询</sl-button>
        </div>
        <div class="col">
            <sl-input class="nr-txt-query" placeholder="请输入顶级域名，不带http、www" autofocus></sl-input>            
        </div>
        <div class="col-12 mt-3">
            <div class="nr-card-result"></div>
        </div>
    </div>
</div>