<div class="@QuoteTo.PanelClass2">
    <div class="row">
        <div class="col-12">
            <div class="mb-4">
                <input class="nrg-txt-qq form-control form-control-lg" readonly placeholder="loading ..." />
                <div class="form-text">
                    腾讯 <a class="form-label" href="https://vv.video.qq.com/checktime?otype=json" target="_blank">https://vv.video.qq.com/checktime?otype=json</a>
                </div>
            </div>
            <div class="mb-4">
                <input class="nrg-txt-cloudflare form-control form-control-lg" readonly placeholder="loading ..." />
                <div class="form-text">
                    Cloudflare <a class="form-label" href="https://js.org/cdn-cgi/trace" target="_blank">https://js.org/cdn-cgi/trace</a>
                </div>
            </div>
            <div>
                更多：
                <a href="https://pv.sohu.com/cityjson" target="_blank">搜狐</a>
                &nbsp;
                <a href="http://resolver.gslb.mi-idc.com/gslb/gslb/getbucket.asp" target="_blank">小米</a>
                &nbsp;
                <a href="http://dyact.vip.xunlei.com/iface.php?c=telecomip&a=getIp&d=telecomip&callback=fn" target="_blank">迅雷</a>
                &nbsp;
                <a href="https://only.nstool.netease.com" target="_blank">网易</a>
            </div>
        </div>
    </div>
</div>