<div class="@QuoteTo.PanelClass1">
    <div class="row">
        <div class="col-xxl-5 col-lg-5">
            <div class="nrg-editor1"></div>
        </div>

        <div class="col-xxl-2 col-lg-3 mt-lg-0 mt-3">
            <div class="input-group input-group-lg mb-4">
                <select class="nrg-se-to form-select">
                    <option value="json-to-csharp">JSON 👉 C#</option>
                    <option value="json-to-xml">JSON 👉 XML</option>
                    <option value="xml-to-json">JSON 👈 XML</option>
                </select>
                <button class="nrg-btn-to btn btn-warning">转换</button>
            </div>

            <div class="nrg-switch mb-3">
                <div data-value="json-to-csharp">
                    <div class="input-group mb-2">
                        <span class="input-group-text">注释</span>
                        <select class="form-select flag-comment">
                            <option value="1">包含注释</option>
                            <option value="2" selected>不含注释</option>
                        </select>
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text">命名</span>
                        <select class="form-select flag-hump">
                            <option value="1" selected>大驼峰命名</option>
                            <option value="2">不改变命名</option>
                        </select>
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text">属性</span>
                        <select class="form-select flag-property">
                            <option value="1">包含属性名</option>
                            <option value="2" selected>不含属性名</option>
                        </select>
                    </div>
                </div>
                <div class="d-none" data-value="json-to-xml">
                </div>
            </div>
        </div>

        <div class="col-xxl-5 col-lg-4">
            <div class="nrg-editor2"></div>
        </div>
    </div>
</div>