<div class="container-fluid p-4">
    <div class="row">
        <div class="col-md-auto">
            <sl-select class="nr-se-type" value="113">
                <sl-menu-item value="113">大乐透</sl-menu-item>
                <sl-menu-item value="001">双色球</sl-menu-item>
                <sl-menu-item value="002">福彩3d</sl-menu-item>
                <sl-menu-item value="003">七乐彩</sl-menu-item>
                <sl-menu-item value="108">排列3</sl-menu-item>
                <sl-menu-item value="109">排列5</sl-menu-item>
                <sl-menu-item value="110">七星彩</sl-menu-item>
            </sl-select>
        </div>
    </div>
    <div class="nr-card-result row"></div>
</div>