<div class="@QuoteTo.PanelClass1">
    <div class="row">
        <div class="nrg-card-message col-12"></div>

        <div class="col-12 position-sticky bottom-0 py-3 d-none" style="background-color:var(--bs-body-bg)">
            <div class="input-group mb-2">
                <button class="nrg-btn-reply btn btn-warning">回复</button>
                <input type="text" class="nrg-txt-nickname form-control" placeholder="输入昵称（可选）" maxlength="50" />
                <button class="nrg-btn-scroll btn btn-secondary">顶/底部</button>
            </div>
            <textarea class="nrg-txt-message form-control" rows="2" placeholder=" 写留言内容，文明点 ^_^ &#xD;&#xA; 快捷提交：Ctrl + Enter，支持 Markdown"></textarea>
        </div>
    </div>
</div>