<div class="@QuoteTo.PanelClass1">
    <div class="row">
        <div class="col-auto mb-2">
            <button class="nrg-btn-format btn btn-warning" title="Shift+Alt+F 快捷格式化">格式化</button>
        </div>
        <div class="col-auto mb-2">
            <a href="https://ssl-config.mozilla.org" class="btn btn-secondary" target="_blank">SSL Config</a>
        </div>
        <div class="col-12">
            <div class="nrg-editor"></div>
        </div>
    </div>
</div>