<div class="@QuoteTo.PanelClass2">
    <div class="row">
        <div class="col-12 mb-3">
            <textarea class="nrg-txt-content form-control" rows="4" placeholder="输入内容">结过婚的和尚未结过婚的</textarea>
        </div>
        <div class="col-auto mb-3">
            <button class="nrg-btn-query btn btn-warning">提交</button>
            <button class="nrg-btn-local btn btn-primary d-none">浏览器本地分词</button>
        </div>
        <div class="col-12">
            <textarea class="nrg-txt-result form-control" rows="12" placeholder="处理结果"></textarea>
        </div>
    </div>
</div>