<div class="@QuoteTo.PanelClass2">
    <div class="row">
        <div class="col-12 mb-3">
            <textarea class="nrg-txt-content form-control" rows="6" placeholder="输入内容">工信处女干事每月经过下属科室都要亲口交代24口交换机等技术性器件的安装工作。</textarea>
        </div>
        <div class="col-auto mb-3">
            <button class="nrg-btn-query btn btn-warning">提交</button>
            <button class="nrg-btn-local btn btn-primary d-none">浏览器本地分词</button>
        </div>
        <div class="col-12">
            <textarea class="nrg-txt-result form-control" rows="10" placeholder="处理结果"></textarea>
        </div>
    </div>
</div>