<div class="container-fluid p-4">
    <div class="row">
        <div class="col-12 mb-3">
            <sl-textarea class="nr-txt-content" rows="4" label="内容" placeholder="输入内容" value="结过婚的和尚未结过婚的"></sl-textarea>
        </div>
        <div class="col-auto mb-3">
            <sl-button class="nr-btn-query" variant="warning">提交</sl-button>
            <sl-button class="nr-btn-local" variant="primary">浏览器本地分词</sl-button>
        </div>
        <div class="col-12">
            <sl-textarea class="nr-txt-result" rows="12" label="处理结果" placeholder="处理结果"></sl-textarea>
        </div>
    </div>
</div>