<div class="@QuoteTo.PanelClass2">
    <div class="row">
        <div class="col-lg">
            <div class="d-flex mb-2">
                <input class="nrg-txt-file form-control" type="file" accept="image/*" />

                <div class="nrg-spinner spinner-border mt-1 ms-2 d-none">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="nrg-card-view text-center mb-2"></div>
        </div>
        <div class="col-lg-1">
        </div>
        <div class="nrg-card-right col-lg invisible">
            <div>
                <button class="mb-1 btn btn-success" title="无害的艺术，或艺术绘画">Drawing（绘画）</button>
                <button class="mb-1 btn btn-secondary" title="一般，无害的内容">Neutral（中立）</button>
                <button class="mb-1 btn btn-warning" title="不合时宜的挑衅内容">Sexy（性感）</button>
                <button class="mb-1 btn btn-danger" title="不雅的内容和行为，通常涉及生殖器">Porn（色情）</button>
                <button class="mb-1 btn btn-dark" title="色情艺术，不适合大多数工作环境">Hentai（变态）</button>
            </div>
            <textarea class="nrg-txt-result form-control mt-1" rows="22"></textarea>
        </div>
    </div>
</div>