<div class="@QuoteTo.PanelClass2">
    <div class="row">
        <div class="col-md-3 mb-2">
            <input class="nrg-txt-file form-control" type="file" accept="application/pdf" />
        </div>
        <div class="col-auto mb-2 me-md-5">
            <button class="nrg-btn-demo btn btn-secondary">Demo</button>
        </div>
        <div class="col-auto mb-2">
            <div class="dropdown d-none flag-hide">
                <button class="nrg-btn-dd-export btn btn-warning dropdown-toggle" data-bs-toggle="dropdown">导出图片</button>
                <ul class="dropdown-menu">
                    <li><button class="dropdown-item" type="button" data-action="export-image-page">当前页面</button></li>
                    <li><button class="dropdown-item" type="button" data-action="export-image-all">全部页面</button></li>
                </ul>
            </div>
        </div>
        <div class="col-auto d-none flag-hide mb-2">
            <div class="input-group">
                <button class="nrg-btn-prev btn btn-secondary">&laquo;</button>
                <button class="nrg-btn-next btn btn-secondary">&raquo;</button>
                <input class="nrg-txt-number form-control" type="number" value="1" min="1" max="9999" />
                <button class="nrg-btn-last btn btn-secondary">/ 0</button>
            </div>
        </div>
        <div class="col-auto d-none flag-hide mb-2">
            <select class="nrg-se-scale form-select">
                <option value="0.5">50%</option>
                <option value="0.75">75%</option>
                <option value="1" selected>100%</option>
                <option value="2">200%</option>
                <option value="3">300%</option>
                <option value="auto">页宽</option>
            </select>
        </div>
        <div class="col-auto d-none flag-hide">
            <button class="nrg-btn-rotate btn btn-secondary">旋转</button>
        </div>

        <div class="nrg-card-view text-center col-12 my-3"></div>
    </div>
</div>