<div class="container-fluid p-4">
    <div class="row">
        <div class="col-auto">
            <input class="nr-txt-file d-inline-block mb-3" type="file" accept="application/pdf" />
        </div>
        <div class="col-auto">
            <sl-dropdown class="nr-btn-export-image">
                <sl-button slot="trigger" caret variant="warning">导出图片</sl-button>
                <sl-menu>
                    <sl-menu-item data-action="export-image-page">当前页面</sl-menu-item>
                    <sl-menu-item data-action="export-image-all">全部页面</sl-menu-item>
                </sl-menu>
            </sl-dropdown>
        </div>
        <div class="col-auto">
            <sl-button class="nr-btn-demo mb-3" variant="neutral">Demo</sl-button>
        </div>
        <div class="col-12">
            <div>
                <div class="nr-card-tool d-none m-auto" style="width:fit-content">
                    <sl-button-group class="mb-3">
                        <sl-button class="nr-btn-prev" size="small">
                            <sl-icon name="arrow-up"></sl-icon>
                        </sl-button>
                        <sl-button class="nr-btn-next" size="small">
                            <sl-icon name="arrow-down"></sl-icon>
                        </sl-button>
                    </sl-button-group>
                    <sl-button-group class="mb-3">
                        <sl-input class="nr-txt-number d-inline-block" size="small" type="number" value="1" min="1" max="9999"></sl-input>
                        <sl-button class="nr-btn-last" variant="text" size="small">/ 0</sl-button>
                    </sl-button-group>
                    <sl-select class="nr-se-scale mb-3 d-inline-block" value="1" size="small" style="width:5.5em">
                        <sl-menu-item value="0.5">50%</sl-menu-item>
                        <sl-menu-item value="0.75">75%</sl-menu-item>
                        <sl-menu-item value="1">100%</sl-menu-item>
                        <sl-menu-item value="2">200%</sl-menu-item>
                        <sl-menu-item value="3">300%</sl-menu-item>
                        <sl-menu-item value="auto">页宽</sl-menu-item>
                    </sl-select>
                    <sl-button class="nr-btn-rotate mb-3" size="small">
                        <sl-icon name="arrow-clockwise"></sl-icon>
                    </sl-button>
                </div>
            </div>
            <div class="nr-card-view text-center"></div>
        </div>
    </div>
</div>

@Html.Raw(Netnr.SharedApp.QuoteTo.Html("pdf.js,jszip.js"))