<div class="@QuoteTo.PanelClass1">
    <div class="row">
        <div class="col-auto mb-2">
            <input type="file" class="nrg-txt-file form-control" multiple accept="*">
        </div>
        <div class="col-auto mb-2">
            <input class="nrg-txt-filter form-control" placeholder="Search..." />
        </div>
        <div class="col-auto mb-2">
            <button class="nrg-btn-demo btn btn-secondary">Demo</button>
        </div>
        <div class="col-12">
            <div class="nrg-grid"></div>
        </div>
    </div>
</div>