<div class="container-fluid p-4">
    <div class="row">
        <div class="col-auto mb-3">
            <input type="file" class="nr-txt-file" multiple accept="*">
        </div>
        <div class="col-auto mb-3">
            <sl-input class="nr-txt-filter" placeholder="Search..."></sl-input>
        </div>
        <div class="col-auto mb-3">
            <sl-button class="nr-btn-demo" variant="neutral">Demo</sl-button>
        </div>
        <div class="col-12">
            <div class="nr-grid"></div>
        </div>
    </div>
</div>

@Html.Raw(Netnr.QuoteTo.Html("ag-grid-enterprise.js"))