<div class="@QuoteTo.PanelClass1">
    <div class="row">
        <div class="col-12 mb-2">
            <input class="nrg-txt-filter form-control" placeholder="Search..." />
        </div>
        <div class="col-12">
            <div class="nrg-grid"></div>
        </div>
    </div>
</div>