<div class="@QuoteTo.PanelClass2">
    <div class="row">
        <div class="col-md mb-5">
            <label class="form-label">生成二维码</label>
            <div class="input-group mb-2">
                <textarea class="nrg-txt-content form-control" rows="1" placeholder="内容：网址、邮箱等"></textarea>
                <button class="nrg-btn-config btn btn-outline-secondary">配置</button>
            </div>
            <textarea class="nrg-txt-config mb-2 form-control d-none" rows="11" label="生成二维码配置"></textarea>
            <div class="nrg-card-result1 mb-2"></div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md">
            <label class="form-label">识别二维码（支持拖拽、粘贴）</label>
            <input type="file" class="nrg-txt-file form-control mb-2" accept="image/*" />
            <textarea class="nrg-txt-result2 d-none form-control" placeholder="识别结果" rows="5"></textarea>
        </div>
    </div>
</div>