<div class="@QuoteTo.PanelClass2">
    <div class="row">
        <div class="col-auto mb-2">
            <button class="nrg-btn-build btn btn-warning">生成</button>
        </div>
        <div class="col-auto mb-2">
            <button class="nrg-btn-reset btn btn-secondary">重置</button>
        </div>
        <div class="col-auto mb-2">
            <div class="input-group">
                <span class="input-group-text">范围</span>
                <input class="nrg-txt-range1 form-control" placeholder="开始值" type="number" value="1" min="-999999" max="999999" step="1" />
                <span class="input-group-text">-</span>
                <input class="nrg-txt-range2 form-control" placeholder="结束值" type="number" value="10" min="-999999" max="999999" step="1" />
            </div>
        </div>
        <div class="col-auto mb-2">
            <div class="input-group">
                <span class="input-group-text">个数</span>
                <input class="nrg-txt-count form-control" placeholder="随机个数" type="number" value="10" min="1" max="999999" step="1" />
            </div>
        </div>
        <div class="col-auto mb-2">
            <div class="input-group">
                <span class="input-group-text">分组</span>
                <input class="nrg-txt-group form-control" placeholder="自动换行（分组）" type="number" value="5" min="1" max="999999" step="1" />
            </div>
        </div>
        <div class="col-auto mb-3">
            <select class="nrg-se-unique form-select">
                <option value="1">不重复</option>
                <option value="2">可重复</option>
            </select>
        </div>
        <div class="col-12">
            <textarea class="nrg-txt-result form-control form-control-lg" rows="9" placeholder="输出"></textarea>
        </div>
    </div>
</div>