<div class="nr-card-box container-fluid p-4">
    <div class="row">
        <div class="col-sm-auto mb-3">
            <sl-button class="nr-btn-build" variant="warning">生成</sl-button>
            <sl-button class="nr-btn-reset">重置</sl-button>
        </div>
        <div class="col-sm-auto mb-3">
            <sl-button variant="text">范围</sl-button>
            <sl-input class="nr-txt-range1 d-inline-block" placeholder="开始值" type="number" value="1" min="-999999" max="999999" step="1"></sl-input>
            -
            <sl-input class="nr-txt-range2 d-inline-block" placeholder="结束值" type="number" value="10" min="-999999" max="999999" step="1"></sl-input>
        </div>
        <div class="col-sm-auto mb-3">
            <sl-button variant="text">个数</sl-button>
            <sl-input class="nr-txt-count d-inline-block" placeholder="随机个数" type="number" value="10" min="1" max="999999" step="1"></sl-input>
        </div>
        <div class="col-sm-auto mb-3">
            <sl-button variant="text">分组</sl-button>
            <sl-input class="nr-txt-group d-inline-block" placeholder="自动换行（分组）" type="number" value="5" min="1" max="999999" step="1"></sl-input>
        </div>
        <div class="col-sm-auto mb-3">
            <sl-select class="nr-se-only" value="1">
                <sl-menu-item value="1">唯一</sl-menu-item>
                <sl-menu-item value="2">可重复</sl-menu-item>
            </sl-select>
        </div>
        <div class="col-12">
            <sl-textarea class="nr-txt-result" size="large" rows="9" label="生成结果" placeholder="输出"></sl-textarea>
        </div>
    </div>
</div>