<div class="container-fluid p-4">
    <div class="row">
        <div class="col-12" style="zoom:1.5">
            <sl-input type="number" class="nr-txt-number mb-3" placeholder="请输入金额 ￥" label="数字金额(￥)" autofocus size="large"></sl-input>
            <sl-input class="nr-txt-result" placeholder="输出大写金额" label="大写金额" size="large"></sl-input>
        </div>
    </div>
</div>