<div class="@QuoteTo.PanelClass2">
    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                <label class="form-label">数字金额</label>
                <input type="number" class="nrg-txt-number form-control form-control-lg fs-2" placeholder="请输入金额 ￥" autofocus />
            </div>
            <div class="mb-3">
                <label class="form-label">大写金额</label>
                <input class="nrg-txt-result form-control form-control-lg fs-2" placeholder="输出大写金额" />
            </div>
        </div>
    </div>
</div>