<div class="@QuoteTo.PanelClass2">
    <div class="row">
        <div class="col-auto mb-2">
            <button class="nrg-btn-start btn btn-warning">开始测速</button>
        </div>
        <div class="col-auto mb-2">
            <select class="nrg-se-server form-select d-none"></select>
        </div>
        <div class="col-12">
            <div class="nrg-card-result my-3"></div>
        </div>
    </div>
</div>