<div class="@QuoteTo.PanelClass1">
    <div class="row">
        <div class="col-auto mb-2">
            <input class="nrg-txt-file form-control" type="file" multiple accept="*">
        </div>
        <div class="col-auto mb-2">
            <div class="input-group">
                <button class="nrg-btn-merge btn btn-info">合并</button>
                <button class="nrg-btn-optimize btn btn-success">优化</button>
            </div>
        </div>
        <div class="col-auto mb-2">
            <button class="nrg-btn-download btn btn-secondary">下载</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="nrg-editor invisible"></div>
        </div>
        <div class="col-md-6">
            <div class="nrg-card-preview invisible border rounded overflow-auto text-break"></div>
        </div>
    </div>
</div>