<div class="container-fluid p-4">
    <div class="row">
        <div class="col-auto mb-3">
            <sl-select class="nr-se-type" value="1">
                <sl-menu-item value="1">合并</sl-menu-item>
                <sl-menu-item value="0">优化</sl-menu-item>
            </sl-select>
        </div>
        <div class="col-auto mb-3">
            <input type="file" class="nr-txt-file" multiple accept="*">
        </div>
        <div class="col-auto mb-3">
            <sl-button class="nr-btn-download" variant="warning">下载</sl-button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="nr-editor invisible"></div>
        </div>
        <div class="col-md-6">
            <div class="nr-card-preview invisible border rounded overflow-auto text-break"></div>
        </div>
    </div>
</div>

<script src="/app/browserify/dist/svgo.min.js" asp-append-version="true"></script>
@Html.Raw(Netnr.SharedApp.QuoteTo.Html("jszip.js,monaco-editor"))