<div class="@QuoteTo.PanelClass1">
    <div class="row">

        <div class="col-auto mb-2">
            <div class="btn-group">
                <button class="nrg-btn-swaggerui btn btn-primary">SwaggerUI</button>
                <button class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" data-bs-reference="parent">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><button class="dropdown-item" data-action="yaml-json">YAML → JSON</button></li>
                    <li><button class="dropdown-item" data-action="json-yaml">JSON → YAML</button></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><button class="dropdown-item" data-action="swagger-openapi">Swagger → OpenAPI</button></li>
                </ul>
            </div>
        </div>

        <div class="col-auto d-flex mb-2">
            <div class="input-group">
                <button class="nrg-btn-todoc btn btn-warning">转文档</button>
                <select class="nrg-se-onlyjson form-select">
                    <option value="1">仅JSON</option>
                    <option value="0">不处理</option>
                </select>
            </div>
            <div class="dropdown ms-1">
                <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">下载</button>
                <ul class="dropdown-menu">
                    <li><button class="dropdown-item" data-action="download-markdown">Markdown</button></li>
                    <li><button class="dropdown-item" data-action="download-word">Word</button></li>
                    <li><button class="dropdown-item" data-action="download-html">HTML</button></li>
                    <li><button class="dropdown-item" data-action="download-png">PNG</button></li>
                    <li><button class="dropdown-item" data-action="download-pdf">PDF</button></li>
                </ul>
            </div>
        </div>

        <div class="col-auto mb-2">
            <button class="nrg-btn-demo btn btn-secondary">Demo</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="nrg-editor1"></div>
        </div>
        <div class="col-md-6">
            <div class="nrg-editor2 d-none"></div>
            <div class="nrg-swaggerui d-none overflow-auto" style="background-color:var(--bs-light)"></div>
            <div class="nrg-markdown d-none"></div>
        </div>
    </div>
</div>