<div class="nr-card-box invisible container-fluid p-4">
    <div class="row">
        <div class="col-xxl-6">
            <div>
                <sl-button class="nr-btn-to-image mb-3" variant="warning">文本转成图片</sl-button>
            </div>
            <div class="nr-editor mb-3"></div>
        </div>
        <div class="col-xxl-6">
            <div>
                <sl-button class="nr-btn-to-text mb-3" variant="warning">图片转回文本</sl-button>
                <input class="nr-txt-file d-inline-block mb-3" style="width:15em" type="file">
                <sl-input class="nr-txt-image-link d-inline-block mb-3" placeholder="图片链接，Enter"></sl-input>
                <sl-button class="nr-btn-demo mb-3" variant="neutral">Demo</sl-button>
            </div>
            <div class="nr-card-view mb-3"></div>
        </div>
        <div class="col-12 mt-3">
            <div class="small opacity-75">把文本转换为图片；转换后的图片可转回文本（图片未压缩等丢失信息的操作）</div>
            <div class="small opacity-75">可以把文本转为图片后上传到图床（图床选不处理图片保存原图的厂商，且支持跨域）用于存储</div>
            <div class="small opacity-75 text-danger">警告：非文本转成的图片解析后是乱码，而且耗时很久，容易卡死浏览器</div>
        </div>
    </div>
</div>

@Html.Raw(Netnr.SharedApp.QuoteTo.Html("text-to-image.js,monaco-editor"))