<div class="@QuoteTo.PanelClass2">
    <div class="row">
        <div class="col-md-auto mb-3">
            <select class="nrg-se-m3u8 form-select">
                <option value="">（选择源）</option>
            </select>
        </div>
        <div class="col-md mb-3">
            <input class="nrg-txt-m3u8 form-control" type="url" placeholder="请粘贴 M3U8 播放源（http 协议播放源须允许）" />
        </div>
        <div class="col-12">
            <video controls class="nrg-video invisible rounded mw-100"></video>
        </div>
    </div>
</div>