<div class="@QuoteTo.PanelClass2">
    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                <label class="form-label">User-Agent</label>
                <input type="search" class="nrg-txt-query form-control" placeholder="请粘贴 User-Agent 信息">
            </div>
            <div class="nrg-card-result"></div>
        </div>
    </div>
</div>