<div class="@QuoteTo.PanelClass1">
    <div class="row">
        <div class="col-auto mb-2">
            <select class="nrg-se-language invisible form-select"></select>
        </div>
        <div class="col-auto mb-2">
            <button class="nrg-btn-run btn btn-warning d-none">Run</button>
        </div>
        <div class="col-12">
            <div class="nrg-editor"></div>
        </div>
    </div>
</div>