<div class="nr-card-box invisible container-fluid p-4">
    <div class="row">
        <div class="col-12">
            <sl-select class="nr-se-language d-inline-block" style="width:12em;max-width:50vw;"></sl-select>
            <sl-button class="nr-btn-run d-none">Run</sl-button>
        </div>
        <div class="col-12 mt-3">
            <div class="nr-editor"></div>
        </div>
    </div>
</div>

@Html.Raw(Netnr.SharedApp.QuoteTo.Html("monaco-editor"))