<div class="container-fluid p-4">
    <div class="row">
        <div class="col-12">
            <sl-input class="nr-txt-query mb-3" label="选择城市" placeholder="输入城市名 ， 例如：重庆 或 CQ" autocomplete="off"></sl-input>
            <div class="position-relative">
                <div class="nr-card-weather-code position-absolute w-100 d-none border rounded overflow-auto"></div>
            </div>
        </div>
    </div>
    <div class="nr-card-result row">
    </div>
</div>

<script src="/js/ss/weathercode.js" asp-append-version="true"></script>