<div class="@QuoteTo.PanelClass1">
    <div class="row">
        <div class="col-sm-auto">
            <div class="input-group mb-2">
                <span class="input-group-text">Token</span>
                <input class="nrg-txt-token form-control" placeholder="请粘贴 API Token" maxlength="32" />
            </div>
        </div>
        <div class="col-sm-auto">
            <div class="input-group mb-2">
                <span class="input-group-text">NetworkID</span>
                <input class="nrg-txt-networkid form-control" placeholder="请粘贴 NetworkID" maxlength="16" />
            </div>
        </div>
        <div class="col-sm-auto">
            <input class="nrg-txt-filter form-control mb-2" placeholder="Search..." />
        </div>
        <div class="col-auto mb-2">
            <a class="btn btn-secondary" target="_blank" href="https://my.zerotier.com">ZeroTier</a>
        </div>
        <div class="col-12">
            <div class="nrg-grid"></div>
        </div>
    </div>
</div>