<div class="@QuoteTo.PanelClass2">
    <div class="row">
        <div class="col-md-auto mb-3">
            <div class="input-group">
                <input class="form-control" data-type="ci" data-search="1" placeholder="搜索词语" maxlength="20" />
                <button class="btn btn-outline-secondary">搜索</button>
            </div>
        </div>
        <div class="col-md-auto mb-3">
            <div class="input-group">
                <input class="form-control" data-type="idiom" data-search="1" placeholder="搜索成语" maxlength="20" />
                <button class="btn btn-outline-secondary">搜索</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-auto mb-3">
            <div class="input-group">
                <input class="form-control" data-type="word" data-search="0" placeholder="如：爱" maxlength="1" />
                <button class="btn btn-outline-secondary">查询汉字</button>
            </div>
        </div>
        <div class="col-md-auto mb-3">
            <div class="input-group">
                <input class="form-control" data-type="ci" data-search="0" placeholder="如：美丽" maxlength="20" />
                <button class="btn btn-outline-secondary">查询词语</button>
            </div>
        </div>
        <div class="col-md-auto mb-3">
            <div class="input-group">
                <input class="form-control" data-type="idiom" data-search="0" placeholder="如：一言既出，驷马难追" maxlength="20" />
                <button class="btn btn-outline-secondary">查询成语</button>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">结果</h5>
                <div class="nrg-result overflow-auto markdown-body card-body" style="min-height:30em">
                </div>
            </div>
        </div>
    </div>
</div>