<div class="container-fluid p-4">
    <div class="row">
        <div class="col-auto">
            <h4>npm i zoningjs</h4>
            <p><a href="https://unpkg.com/zoningjs/">https://unpkg.com/zoningjs/</a></p>
        </div>
        <div class="col-auto">
            <h4>release</h4>
            <p><a href="https://github.com/netnr/zoning">https://github.com/netnr/zoning</a></p>
        </div>
    </div>

    <h4 class="mt-4">三级联动(省地县级)</h4>
    <div class="row nr-zoning3">
        <div class="col-md-4 col-sm-6 mb-2">
            <sl-select></sl-select>
        </div>
        <div class="col-md-4 col-sm-6 mb-2">
            <sl-select></sl-select>
        </div>
        <div class="col-md-4 col-sm-6 mb-2">
            <sl-select></sl-select>
        </div>
    </div>
    <div class="nr-out3"></div>

    <h4 class="mt-4">五级联动(省地县乡和村级)</h4>
    <div class="row nr-zoning5">
        <div class="col-xxl col-md-3 col-sm-6 mb-2">
            <sl-select></sl-select>
        </div>
        <div class="col-xxl col-md-3 col-sm-6 mb-2">
            <sl-select></sl-select>
        </div>
        <div class="col-xxl col-md-3 col-sm-6 mb-2">
            <sl-select></sl-select>
        </div>
        <div class="col-xxl col-md-3 col-sm-6 mb-2">
            <sl-select></sl-select>
        </div>
        <div class="col-xxl col-md-3 col-sm-6 mb-2">
            <sl-select></sl-select>
        </div>
    </div>
    <div class="nr-out5"></div>
</div>