/*全屏*/
.nrg-fullscreen {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    width: 100vw !important;
    height: 100vh !important;
}

/* form */
.nrg-dialog-form {
    --width: 60em;
}

/* sl-card */
sl-card.nrg-card-p0::part(body) {
    --padding: 0;
}

/* ag-grid watermark */
.ag-root-wrapper .ag-watermark {
    visibility: hidden;
    pointer-events: none;
}

.nrg-grid-b0 .ag-root-wrapper {
    /*无边框*/
    border: none !important;
}

/* markdown 内容底部标签底部间距清除 */
.nrg-clear-bottom>*:last-child {
    margin-bottom: 0px!important;
}