@model SharedResultVM
@{
    ViewData["Title"] = "验证";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 py-5 text-center">
            @if (Model.Code == 200)
            {
                <sl-button size="large" variant="success">@Model.Msg</sl-button>
            }
            else
            {
                <sl-button size="large" variant="danger">@Model.Msg</sl-button>
            }
        </div>
    </div>
</div>