@model ResultVM
@{
    ViewData["Title"] = "验证";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 py-5 text-center">
            @if (Model.Code == 200)
            {
                <button class="btn btn-lg btn-success">@Model.Msg</button>
            }
            else
            {
                <button class="btn btn-lg btn-danger">@Model.Msg</button>
            }
        </div>
    </div>
</div>