@{
    ViewData["Title"] = "我的文章";
}

<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-auto mb-2">
            <sl-button size="small" variant="primary">我的文章</sl-button>
            <sl-button size="small" href="/user/write/laud" outline variant="primary">我的点赞</sl-button>
            <sl-button size="small" href="/user/write/mark" outline variant="primary">我的收藏</sl-button>
        </div>
        <div class="col-auto mb-2">
            <sl-button size="small" variant="primary" href="/home/write">新增</sl-button>
            <sl-button size="small" variant="warning" class="nr-btn-edit">编辑</sl-button>
            <sl-button size="small" variant="danger" class="nr-btn-del">删除</sl-button>
        </div>
        <div class="nr-grid col-12"></div>
    </div>
</div>

<sl-dialog label="编辑文章" class="nr-dialog-form" style="--width: 96vw;">
    <div class="row">
        <div class="col-auto mb-2">
            <sl-button class="nr-btn-save" variant="warning" title="Ctrl + S 快捷保存">保存</sl-button>
        </div>
        <div class="col mb-2">
            <sl-input class="nr-txt-title" maxlength="200" placeholder="标题：简单的一句话"></sl-input>
        </div>
        <div class="col-md-4 mb-2">
            <select class="nr-tags form-control" placeholder="选择标签"></select>
        </div>
        <div class="col-12">
            <div class="nr-editor">Loading ...</div>
        </div>
    </div>
</sl-dialog>

@Html.Raw(Netnr.SharedApp.QuoteTo.Html("netnrmd.css,netnrmd.js,ag-grid-enterprise.js,tom-select,monaco-editor"))

<script src="/js/home/write.js" asp-append-version="true"></script>
<script src="/js/user/write.js" asp-append-version="true"></script>