@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <textarea class="nr-user" style="width:100%" rows="20">Loading ...</textarea>
            <hr />
            <input type="button" id="btnLogout" value="注销" />
            <hr />
            <input type="text" class="nr-send-userid" placeholder="接收用户ID" />
            <input type="text" class="nr-send-message" placeholder="发送消息" />
            <input type="button" class="nr-btn-send" value="Send Message" />
            <hr />
            <textarea class="nr-message-list" style="width:100%" rows="10" placeholder="接收消息"></textarea>
        </div>
    </div>
</div>

<script src="https://fastly.jsdelivr.net/npm/@@microsoft/signalr@6.0.2/dist/browser/signalr.min.js"></script>
<script src="/js/chat.js" asp-append-version="true"></script>
