@{
    ViewData["Title"] = "桌面";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mt5">
            <p>
                API：<a href="/swagger" target="_blank">Swagger接口</a> &nbsp;
                GitHub：<a href="https://github.com/netnr" target="_blank">github.com/netnr</a> &nbsp;
                Contact：<a href="https://zme.ink" target="_blank">zme.ink</a>
            </p>
        </div>
        <div class="col-md-12 mt5">
            <div id="chart1" style="height:300px"></div>
        </div>
        <div class="col-md-12 mt5 mb15">
            <hr />
        </div>
        <div class="col-md-6 col-xs-12">
            <div id="chart2" style="height:400px"></div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div id="chart3" style="height:400px"></div>
        </div>
    </div>
</div>

<!--Highcharts-->
@Html.Raw(Netnr.QuoteTo.Html("highcharts.js"))

<partial name="_BaseViewPartial" />