@{
    ViewData["Title"] = "桌面";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="chart1" style="height:300px"></div>
        </div>
        <div class="col-md-12 mt5 mb15">
            <hr />
        </div>
        <div class="col-md-6 col-xs-12">
            <div id="chart2" style="height:400px"></div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div id="chart3" style="height:400px"></div>
        </div>
    </div>
</div>

<!--Highcharts-->
<script src="https://code.bdstatic.com/npm/highcharts@8.0.4/highcharts.js"></script>

<partial name="_BaseViewPartial" />