@{
    ViewData["Title"] = "向导";
}

<h2>Guide</h2>

<div class="h4">
    <p>
        <a href="https://github.com/ilkeryilmaz/timelinejs">https://github.com/ilkeryilmaz/timelinejs</a>
    </p>
    <p>
        <a href="https://ilkeryilmaz.github.io/timelinejs">https://ilkeryilmaz.github.io/timelinejs</a>
    </p>
</div>