@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <title>请升级你的浏览器</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <base target="_blank" />
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            font-weight: 400;
        }

        a {
            color: #0072c6;
            text-decoration: none;
        }

            a:hover {
                color: #004d8c;
                text-decoration: none;
            }

        body {
            width: 960px;
            padding: 10px;
            color: #454545;
            margin: 0 auto;
            font-size: 15px;
            line-height: 20px;
            font-family: 'Microsoft YaHei UI','Microsoft YaHei',DengXian,SimSun,'Segoe UI',Tahoma,Helvetica,sans-serif;
        }

        h1 {
            margin: 30px 0;
            font-size: 40px;
        }

        h2, hr {
            float: left;
            width: 100%;
            margin: 10px 0 15px;
        }

        img {
            border: 0;
            float: left;
            width: 34px;
            margin: 3px;
            height: 34px;
        }

        .browser {
            float: left;
            width: 100%;
            margin-top: 15px;
        }

            .browser li {
                float: left;
                width: 250px;
                list-style: none;
            }
    </style>
</head>
<body>
    <h1>请升级你的浏览器</h1>
    <p>你正在使用 Internet Explorer 的过期版本（IE6、IE7、IE8 或使用该内核的浏览器）。这意味着在升级浏览器前，你将无法访问此网站。</p>
    <hr />
    <h2>请注意：Windows XP 及 IE6、IE7、IE8 的支持已经结束</h2>
    <p>自 2014 年 4 月 8 日起，Microsoft 不再为 Windows XP 和 Internet Explorer 8 及以下版本提供相应支持和更新。如果你继续使用这些，你将可能受到病毒、间谍软件和其他恶意软件的攻击，无法确保个人信息的安全。</p>
    <hr />
    <h2>更先进的浏览器</h2>
    <p>推荐使用以下浏览器的最新版本。如果你的电脑已有以下浏览器的最新版本则直接使用该浏览器访问<b id="referrer"></b>即可。</p>
    <ul class="browser">
        <li><a href="https://www.google.cn/chrome/"><img src="/images/browser/chrome.jpg" alt="谷歌浏览器" /> 谷歌浏览器<br />Google Chrome</a></li>
        <li><a href="http://www.firefox.com.cn/"><img src="/images/browser/firefox.jpg" alt="火狐浏览器" /> 火狐浏览器<br />Mozilla Firefox</a></li>
    </ul>
    <hr />
    <h2>为什么会出现这个页面？</h2>
    <p>如果你不知道升级浏览器是什么意思，请请教一些熟练电脑操作的朋友。如果你使用的不是IE6/7/8，而是360浏览器、QQ浏览器、搜狗浏览器等，出现这个页面是因为你使用的不是该浏览器的最新版本，升级至最新即可。</p>
    <hr />
    <h2>一起抵制IE6、IE7、IE8</h2>
    <p>为了兼容这个曾经的浏览器霸主，网页设计人员需要做大量的代码工作，而且最终效果也始终不能让人满意。对于普通用户而言，低版本IE更是一个岌岌可危的安全隐患，在Windows历史上几次大的木马病毒事件都是利用IE漏洞进行传播。所以，请和我们一起抵制IE6、IE7、IE8！</p>
</body>
</html>