@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="keywords" content="netnr NET牛人 BPMN Editor" />
    <meta name="description" content="Script Services BPMN 流程图" />

    <title>BPMN Editor NET牛人</title>

    <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon' />

    <style>
        html, body, .nr-bpmn {
            height: 100%;
            padding: 0;
            margin: 0;
        }

        .bjs-powered-by {
            display: none;
        }

        .bjs-tool {
            position: fixed;
            top: 1em;
            right: 1em;
            z-index: 1;
        }

            .bjs-tool * {
                cursor: pointer;
                margin-right: 0.5em;
            }
    </style>
</head>
<body>
    <input type="hidden" id="vid" value='@ViewData["vid"]' />

    <div class="bjs-tool">
        <input placeholder="标题" class="nr-txt-title" />
        <span data-action="save">保存</span>
        <span data-action="import">导入</span>
        <span data-action="export">导出</span>
        <span data-action="svg">SVG</span>
    </div>
    @Html.Raw(Netnr.SharedApp.QuoteTo.Html("bpmn-js"))
    <script src="/js/draw/bpmn.js" asp-append-version="true"></script>
</body>
</html>