@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />

    <title>BPMN @Html.Raw(AppTo.GetValue("ProgramParameters:ChineseName"))</title>

    <style>
        html, body, .nrg-bpmn {
            height: 100%;
            padding: 0;
            margin: 0;
        }

        .bjs-powered-by {
            display: none;
        }

        .bjs-tool {
            position: fixed;
            top: 1em;
            right: 1em;
            z-index: 1;
        }

            .bjs-tool * {
                cursor: pointer;
                margin-right: 0.5em;
            }
    </style>
</head>
<body>
    @Html.Raw(QuoteTo.Html("loading"))

    <div class="bjs-tool">
        <input placeholder="标题" class="nrg-txt-title" />
        <span data-action="save">保存</span>
        <span data-action="import">导入</span>
        <span data-action="export">导出</span>
        <span data-action="svg">SVG</span>
    </div>

    @Html.Raw(QuoteTo.Html("bpmn-js"))

    <script src="/file/draw-bpmn.js" defer asp-append-version="true"></script>
</body>
</html>