@{
    ViewData["Title"] = "Catalog Doc";
    var code = ViewContext.RouteData.Values["id"]?.ToString();
}

<div class="container p-4">
    <div class="row">
        <div class="col-auto mb-2">
            <sl-button size="small" class="nr-btn-add" variant="primary">新建</sl-button>
        </div>
        <div class="col mb-2">
            <input type="hidden" class="nr-hid-code" name="DsCode" value="@code" />
            <sl-button size="small" class="nr-btn-save" variant="warning">Save catalog</sl-button>
            <sl-button size="small" href="/doc/code/@code">返回</sl-button>
        </div>
        <div class="col-12">
            <div class="nr-tree overflow-auto border rounded"></div>
        </div>
    </div>
</div>

<sl-dialog class="nr-dialog-form" label="新建">
    <sl-select class="nr-se-type mb-3" label="类型">
        <sl-menu-item value="">目录</sl-menu-item>
        <sl-menu-item value="file">文件</sl-menu-item>
    </sl-select>
    <sl-select class="nr-se-pid mb-3" label="父级"></sl-select>
    <sl-input class="nr-txt-title mb-3" label="名称"></sl-input>
    <sl-button class="nr-btn-confirm" variant="warning">确定</sl-button>
</sl-dialog>

@Html.Raw(Netnr.SharedApp.QuoteTo.Html("jquery3.js,jstree"))
<script src="/js/doc/catalog.js" asp-append-version="true"></script>