@{
    Layout = null;

    var theme = ViewContext.HttpContext.Request.Cookies[".theme"];
    theme = theme == "dark" ? "dark" : "light";

    var dscode = ViewContext.RouteData.Values["id"]?.ToString();
    var sid = ViewContext.RouteData.Values["sid"]?.ToString();
    var uinfo = IdentityService.Get(ViewContext.HttpContext);
}
<!DOCTYPE html>
<html lang="zh-cn" data-bs-theme='@theme' class="netnrmd-@theme">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] @AppTo.GetValue("Common:EnglishName") Doc</title>

    @Html.Raw(Netnr.QuoteTo.Html("favicon,blog-seo"))
</head>
<body>

    <!--Menu-->
    <nav class="app-nav" style="display:none">
        <ul>
            <li><a class="flag-theme" title="Theme">Theme</a></li>
            <li>
                @if (uinfo == null)
                {
                    <a data-href="/doc/discover" title="Doc discover">Doc</a>
                }
                else
                {
                    <a data-href="/doc/user/@uinfo.UserId" title="Your doc">Doc</a>
                }
            </li>
            @if (uinfo != null)
            {
                <li>
                    😀
                    <ul>
                        <li><a data-href="/doc/item/@dscode" title="Add">➕ Add</a></li>
                        <li><a title="Edit">📝 Edit</a></li>
                        <li><a title="Delete">❌ Delete</a></li>
                        <li></li>
                        <li><a data-href="/doc/catalog/@dscode" title="Menu">📁 Catalog</a></li>
                        <li></li>
                        <li><a title="Word">📃 Word</a></li>
                    </ul>
                </li>
            }
        </ul>
    </nav>

    <!--Main-->
    <div id="app">Loading ...</div>

    <!--SEO-->
    <div style="display:none">@Html.Raw(ViewData["DocSeo"])</div>

    <link rel="stylesheet" href="/file/docsify-better/docsify-better.css" asp-append-version="true" />
    <script src="/file/doc-docsify.js" defer asp-append-version="true"></script>
    <script src="/file/docsify-better/docsify-better.js" asp-append-version="true"></script>
</body>
</html>