@{
    ViewData["Title"] = "记事本";
}

<div class="@QuoteTo.PanelClass1">
    <div class="row">
        <div class="col-lg-3 col-md-4">
            <div class="input-group mb-2">
                <button class="nrg-btn-add btn btn-sm btn-primary">新增</button>
                <button class="nrg-btn-del btn btn-sm btn-danger">删除</button>
                <input class="nrg-txt-filter form-control form-control-sm" placeholder="Search" />
            </div>
            <div class="nrg-grid"></div>
        </div>
        <div class="nrg-card-form invisible col-lg-9 col-md-8 mt-md-0 mt-3">
            <div class="input-group input-group-sm">
                <button class="nrg-btn-save btn btn-warning" title="Ctrl + S 快捷保存">保存</button>
                <input class="nrg-txt-title form-control" maxlength="200" placeholder="标题：简单的一句话" />
            </div>
            <div class="form-text">
                <span class="nrg-time-info me-3"></span>
                <span class="nrg-word-count">共 <b>0</b> 个字</span>
            </div>

            <div class="nrg-editor mt-2">Loading</div>
        </div>
    </div>
</div>