@{
    ViewData["Title"] = "记事本";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-auto my-2">
            <sl-button size="small" variant="primary" class="nr-btn-add">New</sl-button>
            <sl-button size="small" variant="warning" class="nr-btn-edit">Edit</sl-button>
            <sl-button size="small" variant="danger" class="nr-btn-del">Del</sl-button>
        </div>
        <div class="nr-grid col-12"></div>
    </div>
</div>

<sl-dialog label="编辑记事本" class="nr-dialog-form" style="--width: 96vw;">
    <div class="row">
        <div class="col-auto mb-2">
            <sl-button class="nr-btn-save" variant="warning" title="Ctrl + S 快捷保存">保存</sl-button>
        </div>
        <div class="col mb-2">
            <sl-input class="nr-txt-title" maxlength="200" placeholder="标题：简单的一句话"></sl-input>
        </div>
        <div class="col-12">
            <div class="nr-editor">Loading ...</div>
        </div>
        <div class="col-sm-12 small opacity-75">
            <span class="nr-word-count me-3">共 <b>0</b> 个字</span>
            <span class="nr-time-info"></span>
        </div>
    </div>
</sl-dialog>

@Html.Raw(Netnr.QuoteTo.Html("netnrmd.css,netnrmd-ace.js,netnrmd.js,ag-grid-enterprise.js"))
<script src="/js/note/index.js" asp-append-version="true"></script>