/*容器*/
.netnrmd {
    position: relative;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid #ccc;
}
/*全屏*/
.netnrmd-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 6666;
    border-radius: 0;
    background-color: #fff;
    border-color: transparent;
}

    .netnrmd-fullscreen .netnrmd-toolbar {
        border-radius: 0;
    }
/*工具条容器*/
.netnrmd-toolbar {
    width: 100%;
    float: left;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #d1d5da;
}
/*工具条*/
.netnrmd-menu {
    margin: 0;
    padding: 0 5px;
    list-style: none;
}

    .netnrmd-menu li {
        float: left;
        opacity: .6;
        height: 28px;
        padding: 3px;
        margin: 3px 4px;
        cursor: pointer;
        user-select: none;
        box-sizing: border-box;
        border: 1px solid transparent;
    }

        .netnrmd-menu li.float-right {
            float: right;
        }

        .netnrmd-menu li svg {
            height: 100%;
            text-align: center;
            vertical-align: top;
            pointer-events: none;
            box-sizing: content-box;
        }

        .netnrmd-menu li:hover, .netnrmd-menu li.active {
            opacity: 1;
            border-radius: 3px;
            border-color: #dedede;
            background-color: #efeaea;
        }

/*编辑容器*/
.netnrmd-write {
    position: relative;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    float: left;
    width: 50%;
}

    .netnrmd-write > * {
        margin: 0;
        padding: 0;
    }

/*渲染视图*/
.netnrmd-view {
    position: relative;
    width: 50%;
    float: right;
    padding: 15px;
    overflow-y: auto;
    word-wrap: break-word;
    word-break: break-word;
    box-sizing: border-box;
}

    /*编辑模式，限制图片最大高度，同步滚动效果更佳*/
    .netnrmd-view img {
        max-height: 160px;
    }

/*最大编辑*/
.netnrmd-write-w100 {
    width: 100%;
    border-right: none;
}
/*隐藏编辑（修复切换出现卡死的问题，原因未知）*/
.netnrmd-write-hidden {
    position: absolute;
    opacity: 0;
    top: 99999px;
    left: 99999px;
    overflow: hidden;
}
/*隐藏视图*/
.netnrmd-view-hidden {
    width: 0;
    display: none;
    overflow: hidden;
}
/*最大视图*/
.netnrmd-view-w100 {
    width: 100%;
}

/*空视图*/
.netnrmd-view-empty {
    color: #999;
    line-height: 50px;
    text-align: center;
}

/*弹窗*/
.netnrmd-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 6666;
    background-color: rgba(51, 51, 51, .6);
}

    .netnrmd-popup .np-card {
        width: 100%;
        max-width: 1200px;
        margin: 10vh auto 0;
        border-radius: 6px;
        border: 1px solid #ddd;
        background-color: white;
    }

    .netnrmd-popup .np-header {
        height: 40px;
        padding: 0 15px;
        line-height: 40px;
        border-bottom: 1px solid #ddd;
    }

    .netnrmd-popup .np-close {
        float: right;
        outline: none;
        color: #b4b4b4;
        font-size: 18px;
        text-decoration: none;
    }

        .netnrmd-popup .np-close:hover {
            color: #333;
            text-decoration: none;
        }

    .netnrmd-popup .np-body {
        padding: 15px;
        max-height: 66vh;
        overflow-y: auto;
    }

/*表情*/
.netnrmd-emoji ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.4em;
    margin: .5em 0 1em;
    padding: 0;
}

.netnrmd-emoji li {
    padding: 0.2em;
    cursor: pointer;
    list-style: none;
    min-width: 50px;
    min-height: 50px;
    text-align: center;
    box-sizing: border-box;
}

    .netnrmd-emoji li:hover {
        transform: scale(1.6);
        transition: transform .2s linear;
    }

/*代码高亮 vs */
.hljs-comment, .hljs-quote, .hljs-variable {
    color: #008000
}

.hljs-keyword, .hljs-selector-tag, .hljs-built_in, .hljs-name, .hljs-tag {
    color: #00f
}

.hljs-string, .hljs-title, .hljs-section, .hljs-attribute, .hljs-literal, .hljs-template-tag, .hljs-template-variable, .hljs-type, .hljs-addition {
    color: #a31515
}

.hljs-deletion, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-meta {
    color: #2b91af
}

.hljs-doctag {
    color: #808080
}

.hljs-attr {
    color: #f00
}

.hljs-symbol, .hljs-bullet, .hljs-link {
    color: #00b0e8
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: bold
}

/*视图渲染全局样式*/
.markdown-body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #24292e;
    line-height: 1.5;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

    .markdown-body a {
        background-color: transparent;
    }

        .markdown-body a:active,
        .markdown-body a:hover {
            outline-width: 0;
        }

    .markdown-body strong {
        font-weight: inherit;
        font-weight: bolder;
    }

    .markdown-body h1 {
        font-size: 2em;
        margin: .67em 0;
    }

    .markdown-body img {
        border-style: none;
    }

    .markdown-body code,
    .markdown-body kbd,
    .markdown-body pre {
        font-family: monospace,monospace;
        font-size: 1em;
    }

    .markdown-body hr {
        box-sizing: content-box;
        height: 0;
        overflow: visible;
    }

    .markdown-body input {
        font: inherit;
        margin: 0;
    }

    .markdown-body input {
        overflow: visible;
    }

    .markdown-body [type=checkbox] {
        box-sizing: border-box;
        padding: 0;
    }

    .markdown-body * {
        box-sizing: border-box;
    }

    .markdown-body input {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    .markdown-body a {
        color: #0366d6;
        text-decoration: none;
    }

        .markdown-body a:hover {
            text-decoration: underline;
        }

    .markdown-body strong {
        font-weight: 600;
    }

    .markdown-body hr {
        background: transparent;
        border: 0;
        border-bottom: 1px solid #dfe2e5;
        height: 0;
        margin: 15px 0;
        overflow: hidden;
    }

        .markdown-body hr:before {
            content: "";
            display: table;
        }

        .markdown-body hr:after {
            clear: both;
            content: "";
            display: table;
        }

    .markdown-body table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .markdown-body td,
    .markdown-body th {
        padding: 0;
    }

    .markdown-body details summary {
        cursor: pointer;
    }

    .markdown-body h1,
    .markdown-body h2,
    .markdown-body h3,
    .markdown-body h4,
    .markdown-body h5,
    .markdown-body h6 {
        margin-bottom: 0;
        margin-top: 0;
    }

    .markdown-body h1 {
        font-size: 32px;
    }

    .markdown-body h1,
    .markdown-body h2 {
        font-weight: 600;
    }

    .markdown-body h2 {
        font-size: 24px;
    }

    .markdown-body h3 {
        font-size: 20px;
    }

    .markdown-body h3,
    .markdown-body h4 {
        font-weight: 600;
    }

    .markdown-body h4 {
        font-size: 16px;
    }

    .markdown-body h5 {
        font-size: 14px;
    }

    .markdown-body h5,
    .markdown-body h6 {
        font-weight: 600;
    }

    .markdown-body h6 {
        font-size: 12px;
    }

    .markdown-body p {
        margin-bottom: 10px;
        margin-top: 0;
    }

    .markdown-body blockquote {
        margin: 0;
    }

    .markdown-body ol,
    .markdown-body ul {
        margin-bottom: 0;
        margin-top: 0;
        padding-left: 0;
    }

        .markdown-body ol ol,
        .markdown-body ul ol {
            list-style-type: lower-roman;
        }

            .markdown-body ol ol ol,
            .markdown-body ol ul ol,
            .markdown-body ul ol ol,
            .markdown-body ul ul ol {
                list-style-type: lower-alpha;
            }

    .markdown-body dd {
        margin-left: 0;
    }

    .markdown-body code,
    .markdown-body pre {
        font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    }

    .markdown-body pre {
        margin-bottom: 0;
        margin-top: 0;
    }

    .markdown-body input::-webkit-inner-spin-button,
    .markdown-body input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
    }

    .markdown-body:before {
        content: "";
        display: table;
    }

    .markdown-body:after {
        clear: both;
        content: "";
        display: table;
    }

    .markdown-body > :first-child {
        margin-top: 0 !important;
    }

    .markdown-body > :last-child {
        margin-bottom: 0 !important;
    }

    .markdown-body a:not([href]) {
        color: inherit;
        text-decoration: none;
    }

    .markdown-body blockquote,
    .markdown-body dl,
    .markdown-body ol,
    .markdown-body p,
    .markdown-body pre,
    .markdown-body table,
    .markdown-body ul {
        margin-bottom: 16px;
        margin-top: 0;
    }

    .markdown-body hr {
        background-color: #e1e4e8;
        border: 0;
        height: .25em;
        margin: 24px 0;
        padding: 0;
    }

    .markdown-body blockquote {
        border-left: .25em solid #dfe2e5;
        color: #6a737d;
        padding: 0 1em;
    }

        .markdown-body blockquote > :first-child {
            margin-top: 0;
        }

        .markdown-body blockquote > :last-child {
            margin-bottom: 0;
        }

    .markdown-body kbd {
        background-color: #fafbfc;
        border: 1px solid #c6cbd1;
        border-bottom-color: #959da5;
        border-radius: 3px;
        box-shadow: inset 0 -1px 0 #959da5;
        color: #444d56;
        display: inline-block;
        font-size: 11px;
        line-height: 10px;
        padding: 3px 5px;
        vertical-align: middle;
    }

    .markdown-body h1,
    .markdown-body h2,
    .markdown-body h3,
    .markdown-body h4,
    .markdown-body h5,
    .markdown-body h6 {
        font-weight: 600;
        line-height: 1.25;
        margin-bottom: 16px;
        margin-top: 24px;
    }

    .markdown-body h1 {
        font-size: 2em;
    }

    .markdown-body h1,
    .markdown-body h2 {
        border-bottom: 1px solid #eaecef;
        padding-bottom: .3em;
    }

    .markdown-body h2 {
        font-size: 1.5em;
    }

    .markdown-body h3 {
        font-size: 1.25em;
    }

    .markdown-body h4 {
        font-size: 1em;
    }

    .markdown-body h5 {
        font-size: .875em;
    }

    .markdown-body h6 {
        color: #6a737d;
        font-size: .85em;
    }

    .markdown-body ol,
    .markdown-body ul {
        padding-left: 2em;
    }

        .markdown-body ol ol,
        .markdown-body ol ul,
        .markdown-body ul ol,
        .markdown-body ul ul {
            margin-bottom: 0;
            margin-top: 0;
        }

    .markdown-body li {
        word-break: break-all;
        word-wrap: break-word;
    }

        .markdown-body li > p {
            margin-top: 16px;
        }

        .markdown-body li + li {
            margin-top: .25em;
        }

    .markdown-body dl {
        padding: 0;
    }

        .markdown-body dl dt {
            font-size: 1em;
            font-style: italic;
            font-weight: 600;
            margin-top: 16px;
            padding: 0;
        }

        .markdown-body dl dd {
            margin-bottom: 16px;
            padding: 0 16px;
        }

    .markdown-body table {
        display: block;
        overflow: auto;
        width: 100%;
    }

        .markdown-body table th {
            font-weight: 600;
        }

        .markdown-body table td,
        .markdown-body table th {
            border: 1px solid #dfe2e5;
            padding: 6px 13px;
        }

        .markdown-body table tr {
            background-color: #fff;
            border-top: 1px solid #c6cbd1;
        }

            .markdown-body table tr:nth-child(2n) {
                background-color: #f6f8fa;
            }

    .markdown-body img {
        background-color: #fff;
        box-sizing: content-box;
        max-width: 100%;
    }

        .markdown-body img[align=right] {
            padding-left: 20px;
        }

        .markdown-body img[align=left] {
            padding-right: 20px;
        }

    .markdown-body code {
        background-color: rgba(27,31,35,.05);
        border-radius: 3px;
        margin: 0;
        padding: .2em .4em;
    }

    .markdown-body pre {
        word-wrap: normal;
    }

        .markdown-body pre > code {
            background: transparent;
            border: 0;
            margin: 0;
            padding: 0;
            white-space: pre;
            word-break: normal;
        }

    .markdown-body pre {
        background-color: #f6f8fa;
        margin-bottom: 16px;
        word-break: normal;
        border-radius: 3px;
        font-size: 85%;
        line-height: 1.45;
        overflow: auto;
        padding: 16px;
    }

        .markdown-body pre code {
            background-color: transparent;
            border: 0;
            display: inline;
            line-height: inherit;
            margin: 0;
            max-width: auto;
            overflow: visible;
            padding: 0;
            word-wrap: normal;
        }


    .markdown-body kbd {
        background-color: #fafbfc;
        border: 1px solid #d1d5da;
        border-bottom-color: #c6cbd1;
        border-radius: 3px;
        box-shadow: inset 0 -1px 0 #c6cbd1;
        color: #444d56;
        display: inline-block;
        font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
        line-height: 10px;
        padding: 3px 5px;
        vertical-align: middle;
    }

    .markdown-body hr {
        border-bottom-color: #eee;
    }
