@{
    ViewData["Title"] = "后台管理";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <sl-button class="m-3" variant="primary" size="large" outline href="/admin/write">
                文章管理
            </sl-button>
            <sl-button class="m-3" variant="primary" size="large" outline href="/admin/reply">
                回复管理
            </sl-button>
            <sl-button class="m-3" variant="success" size="large" outline href="/admin/keyvalues">
                键值标签
            </sl-button>
            <sl-button class="m-3" variant="neutral" size="large" outline href="/admin/log">
                日志列表
            </sl-button>
            <sl-button class="m-3" variant="neutral" size="large" outline href="/admin/logchart">
                日志图表
            </sl-button>
            <sl-button class="m-3" variant="warning" size="large" outline href="/admin/table">
                表查询
            </sl-button>
            <sl-button class="m-3" variant="danger" size="large" outline href="/admin/clearcache">
                清理全局缓存
            </sl-button>
        </div>
        <div class="col-12">
            <sl-button class="m-3" variant="primary" size="large" outline href="/storage/qiniu">
                KODO
            </sl-button>
            <sl-button class="m-3" variant="primary" size="large" outline href="/storage/netease">
                NOS
            </sl-button>
            <sl-button class="m-3" variant="primary" size="large" outline href="/storage/tencent">
                COS
            </sl-button>
        </div>
        <div class="col-12 mb-3">
            <sl-button class="m-3" variant="primary" size="large" outline href="/swagger">
                API
            </sl-button>
        </div>
    </div>
</div>