@{
    ViewData["Title"] = "后台管理";
}

<div class="@QuoteTo.PanelClass2">
    <div class="row">
        <div class="col-12">
            <a class="btn mb-3 me-3 btn-outline-info" href="/admin/write">
                文章管理
            </a>
            <a class="btn mb-3 me-3 btn-outline-info" href="/admin/reply">
                回复管理
            </a>
            <a class="btn mb-3 me-3 btn-outline-success" href="/admin/keyvalues">
                键值标签
            </a>
            <a class="btn mb-3 me-3 btn-outline-info" href="/admin/log">
                日志列表
            </a>
            <a class="btn mb-3 me-3 btn-outline-info" href="/admin/logchart">
                日志图表
            </a>
            <a class="btn mb-3 me-3 btn-outline-danger" href="/admin/clearcache">
                清理全局缓存
            </a>
        </div>
        <div class="col-12 mb-3">
            <a class="btn mb-3 me-3 btn-outline-info" href="/swagger">
                API
            </a>
        </div>
    </div>
</div>