@{
    ViewData["Title"] = "键值标签";
}

<div class="@QuoteTo.PanelClass2">
    <div class="row">
        <div class="col-lg-4 mb-3">
            <div class="card">
                <div class="card-header">KeyValues Grab（抓取百科）</div>
                <div class="card-body">
                    <button class="nrg-btn-run1 btn btn-warning mb-2">执行抓取 Grab</button>
                    <textarea class="nrg-txt1 form-control" rows="5" placeholder="请输入 KeyNames；换行处理批量；无新增 有修改；"></textarea>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-3">
            <div class="card">
                <div class="card-header">KeyValues Synonym（同义词处理）</div>
                <div class="card-body">
                    <button class="nrg-btn-run2 btn btn-warning mb-2">处理同义词 Synonym</button>
                    <textarea class="nrg-txt2 form-control" rows="5" placeholder="请输入 主 KeyName；后面是同义词，主 key 在第一行，如：@(Environment.NewLine)javascript@(Environment.NewLine)js"></textarea>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-3">
            <div class="card">
                <div class="card-header">Tags（新增并刷新）</div>
                <div class="card-body">
                    <button class="nrg-btn-run3 btn btn-warning mb-2">新增标签 Tags</button>
                    <textarea class="nrg-txt3 form-control" rows="5" placeholder="请输入 TagName；换行处理批量；存在不新增；"></textarea>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="form-floating">
                <textarea class="nrg-txt-result form-control" placeholder="处理结果" style="height: 100px" readonly></textarea>
                <label>处理结果</label>
            </div>
        </div>
    </div>
</div>