@{
    ViewData["Title"] = "日志列表";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="nr-grid"></div>
        </div>
    </div>
</div>

@Html.Raw(Netnr.QuoteTo.Html("ag-grid-enterprise.js"))
<script src="/js/admin/log.js" asp-append-version="true"></script>