@{
    ViewData["Title"] = "日志图表";
}

<div class="@QuoteTo.PanelClass1">
    <div class="row">
        <div class="col-auto mb-2">
            <a href="/admin/log" class="btn btn-sm btn-outline-info">日志列表</a>
            <a href="/admin/logchart" class="btn btn-sm btn-primary">日志图表</a>
        </div>
        <div class="col-auto mb-2">
            <select class="nrg-se-date form-select form-select-sm">
                <option value="0">Today</option>
                <option value="-1">Yesterday</option>
                <option disabled></option>
                <option value="-7" selected>Last 7 days</option>
                <option value="-30">Last 30 days</option>
            </select>
        </div>
        <div class="col-auto mb-2">
            <select class="nrg-se-group form-select form-select-sm">
                <option value="">All</option>
                <option disabled></option>
                <option value="1" selected>User</option>
                <option value="2">Bot</option>
                <option disabled></option>
                <option value="-1">Error</option>
                <option value="9">Record</option>
            </select>
        </div>
    </div>
    <div class="nrg-stats row"></div>
</div>