@{
    ViewData["Title"] = "日志图表";
}

<div class="container-fluid py-4">
    <div class="row mb-3">
        <div class="col-xxl-2 col-lg-3 col-md-4 col-7 mb-2">
            <sl-select class="nr-se-date" value="-7">
                <sl-menu-item value="0">Today</sl-menu-item>
                <sl-menu-item value="-1">Yesterday</sl-menu-item>
                <sl-divider></sl-divider>
                <sl-menu-item value="-7">Last 7 days</sl-menu-item>
                <sl-menu-item value="-30">Last 30 days</sl-menu-item>
            </sl-select>
        </div>
        <div class="col-xxl-2 col-lg-3 col-md-4 col-5 mb-2">
            <sl-select class="nr-se-group" value="1">
                <sl-menu-item value="">All</sl-menu-item>
                <sl-divider></sl-divider>
                <sl-menu-item value="1">User</sl-menu-item>
                <sl-menu-item value="2">Bot</sl-menu-item>
                <sl-divider></sl-divider>
                <sl-menu-item value="-1">Error</sl-menu-item>
                <sl-menu-item value="9">Record</sl-menu-item>
            </sl-select>
        </div>
    </div>
    <div class="nr-stats row"></div>
</div>

@Html.Raw(Netnr.SharedApp.QuoteTo.Html("highcharts.js"))
<script src="/js/admin/logchart.js" asp-append-version="true"></script>