@{
    ViewData["Title"] = "文章管理";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="nr-grid"></div>
        </div>
    </div>
</div>

@Html.Raw(Netnr.SharedApp.QuoteTo.Html("ag-grid-enterprise.js"))
<script src="/js/admin/write.js" asp-append-version="true"></script>