@{
    ViewData["Title"] = "文章管理";
}

<div class="@QuoteTo.PanelClass1">
    <div class="row">
        <div class="col-auto mb-2">
            <a href="/admin/write" class="btn btn-sm btn-primary">文章管理</a>
            <a href="/admin/reply" class="btn btn-sm btn-outline-info">回复管理</a>
        </div>
        <div class="col-auto mb-2">
            <input class="nrg-txt-filter form-control form-control-sm" placeholder="Search" />
        </div>
        <div class="nrg-grid col-12"></div>
    </div>
</div>