/* 字体大小 */
.ag-theme-alpine,
.ag-theme-alpine-dark,
.ag-theme-balham,
.ag-theme-balham-dark,
.ag-row {
    font-size: var(--nr-font-size) !important;
    font-family: var(--nr-font-family) !important;
}

.ag-theme-alpine .ag-cell,
.ag-theme-alpine-dark .ag-cell,
.ag-theme-balham .ag-cell,
.ag-theme-balham-dark .ag-cell {
    padding-top: 0;
}

.ag-theme-balham-dark .ag-selection-checkbox,
.ag-theme-balham-dark .ag-group-expanded,
.ag-theme-balham-dark .ag-group-contracted,
.ag-theme-balham .ag-selection-checkbox,
.ag-theme-balham .ag-group-expanded,
.ag-theme-balham .ag-group-contracted {
    margin-top: 4px;
}

/*图标大小*/
.ag-icon {
    font-size: 20px !important;
}

/*新增：标题类型标记*/
.ag-header-type-icon {
    margin-top: -.3em;
}

.ag-header-type-icon sl-icon {
    margin-right: 0.2em;
    vertical-align: text-top;
}

/* 单元格图标 */
.ag-cell-value sl-icon {
    width: 1.1em;
    height: 1.1em;
    margin-right: 0.2em;
    vertical-align: sub;
}

/* 右键菜单图标 */
.ag-menu-option-icon {
    text-align: center;
}

/*状态栏*/
.ag-status-bar {
    line-height: .5;
}

.ag-status-name-value {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}