.ace_search,
.ace_search_form > *,
.ace_search_form > *:hover,
.ace_replace_form > *,
.ace_replace_form > *:hover,
.ace_search_options > *,
.ace_search_options > *:hover {
    color: var(--nmd-color);
    background-color: var(--nmd-bg);
    border-color: var(--nmd-border);
}

.ace_searchbtn_close {
    top: 13px;
}
