@model Dictionary<string, List<string>>
@{
    ViewData["Title"] = "Test";
}

<ul>
    @foreach (var c in Model.Keys)
    {
        var ctrl = c.Replace("Controller", "");

        <li>
            <a href="/@ctrl">@c</a>
        </li>
        <li>
            <ul>
                @foreach (var m in Model[c])
                {
                    <li>
                        <a href="/@ctrl/@m">@m</a>
                    </li>
                }
            </ul>
        </li>
    }
</ul>

<script>

    var xhr = new XMLHttpRequest();
    var url="http://192.168.100.42:8080/cqsme/doscoreresult/CKOperatingConditions?startTime=2021-10&endTime=2021-12";
    xhr.open("get", url, true);
    xhr.send();
    xhr.onreadystatechange = function (e) {
        if (xhr.readyState == 4) {
            if (xhr.status == 200) {
                console.log(xhr.responseText)
            } else {
                console.log('失败');
            }
        }
    }

    setTimeout(() => {
        xhr.abort()
    }, 1000 * 10)

</script>