/****** Object:  Table [dbo].[SysButton]    Script Date: 2020/5/19 7:05:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysButton](
	[SbId] [varchar](50) NOT NULL,
	[SbPid] [varchar](50) NULL,
	[SbBtnText] [nvarchar](20) NULL,
	[SbBtnId] [varchar](50) NULL,
	[SbBtnClass] [varchar](50) NULL,
	[SbBtnIcon] [varchar](50) NULL,
	[SbBtnOrder] [int] NULL,
	[SbStatus] [int] NULL,
	[SbDescribe] [nvarchar](200) NULL,
	[SbBtnGroup] [int] NULL,
	[SbBtnHide] [int] NULL,
 CONSTRAINT [SysButton_SbId_PK] PRIMARY KEY CLUSTERED 
(
	[SbId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysDictionary]    Script Date: 2020/5/19 7:05:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysDictionary](
	[SdId] [varchar](50) NOT NULL,
	[SdPid] [varchar](50) NULL,
	[SdType] [varchar](200) NULL,
	[SdKey] [varchar](200) NULL,
	[SdValue] [nvarchar](200) NULL,
	[SdOrder] [int] NULL,
	[SdStatus] [int] NULL,
	[SdRemark] [nvarchar](200) NULL,
	[SdAttribute1] [varchar](50) NULL,
	[SdAttribute2] [varchar](50) NULL,
	[SdAttribute3] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [SysDictionary_SdType]    Script Date: 2020/5/19 7:05:39 ******/
CREATE CLUSTERED INDEX [SysDictionary_SdType] ON [dbo].[SysDictionary]
(
	[SdType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysLog]    Script Date: 2020/5/19 7:05:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysLog](
	[LogId] [varchar](50) NOT NULL,
	[SuName] [nvarchar](50) NULL,
	[SuNickname] [nvarchar](50) NULL,
	[LogAction] [nvarchar](50) NULL,
	[LogContent] [nvarchar](200) NULL,
	[LogUrl] [varchar](500) NULL,
	[LogIp] [varchar](50) NULL,
	[LogArea] [varchar](50) NULL,
	[LogUserAgent] [varchar](500) NULL,
	[LogBrowserName] [nvarchar](50) NULL,
	[LogSystemName] [nvarchar](50) NULL,
	[LogGroup] [int] NULL,
	[LogLevel] [varchar](10) NULL,
	[LogCreateTime] [datetime] NULL,
	[LogRemark] [nvarchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Index [SysLog_LogCreateTime]    Script Date: 2020/5/19 7:05:39 ******/
CREATE CLUSTERED INDEX [SysLog_LogCreateTime] ON [dbo].[SysLog]
(
	[LogCreateTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysMenu]    Script Date: 2020/5/19 7:05:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysMenu](
	[SmId] [varchar](50) NOT NULL,
	[SmPid] [varchar](50) NULL,
	[SmName] [nvarchar](50) NULL,
	[SmUrl] [varchar](200) NULL,
	[SmOrder] [int] NULL,
	[SmIcon] [varchar](50) NULL,
	[SmStatus] [int] NULL,
	[SmGroup] [int] NULL,
 CONSTRAINT [SysMenu_SmId_PK] PRIMARY KEY CLUSTERED 
(
	[SmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysRole]    Script Date: 2020/5/19 7:05:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysRole](
	[SrId] [varchar](50) NOT NULL,
	[SrName] [nvarchar](200) NULL,
	[SrStatus] [int] NULL,
	[SrDescribe] [nvarchar](200) NULL,
	[SrGroup] [int] NULL,
	[SrMenus] [nvarchar](max) NULL,
	[SrButtons] [nvarchar](max) NULL,
	[SrCreateTime] [datetime] NULL,
 CONSTRAINT [SysRole_SrId_PK] PRIMARY KEY CLUSTERED 
(
	[SrId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysTableConfig]    Script Date: 2020/5/19 7:05:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysTableConfig](
	[Id] [varchar](50) NOT NULL,
	[TableName] [varchar](200) NULL,
	[ColField] [varchar](200) NULL,
	[DvTitle] [nvarchar](200) NULL,
	[ColTitle] [nvarchar](200) NULL,
	[ColWidth] [int] NULL,
	[ColAlign] [int] NULL,
	[ColHide] [int] NULL,
	[ColOrder] [int] NULL,
	[ColFrozen] [int] NULL,
	[ColFormat] [nvarchar](200) NULL,
	[ColSort] [int] NULL,
	[ColExport] [int] NULL,
	[ColQuery] [int] NULL,
	[ColRelation] [varchar](200) NULL,
	[FormArea] [int] NULL,
	[FormUrl] [nvarchar](max) NULL,
	[FormType] [varchar](200) NULL,
	[FormSpan] [int] NULL,
	[FormHide] [int] NULL,
	[FormOrder] [int] NULL,
	[FormRequired] [int] NULL,
	[FormPlaceholder] [nvarchar](200) NULL,
	[FormValue] [nvarchar](max) NULL,
	[FormText] [nvarchar](max) NULL,
	[FormMaxlength] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [SysTableConfig_TableName]    Script Date: 2020/5/19 7:05:39 ******/
CREATE CLUSTERED INDEX [SysTableConfig_TableName] ON [dbo].[SysTableConfig]
(
	[TableName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysUser]    Script Date: 2020/5/19 7:05:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysUser](
	[SuId] [varchar](50) NOT NULL,
	[SrId] [varchar](50) NULL,
	[SuName] [nvarchar](50) NULL,
	[SuPwd] [nvarchar](50) NULL,
	[SuNickname] [nvarchar](50) NULL,
	[SuCreateTime] [datetime] NULL,
	[SuStatus] [int] NULL,
	[SuSign] [varchar](50) NULL,
	[SuGroup] [int] NULL,
 CONSTRAINT [SysUser_SuId_PK] PRIMARY KEY CLUSTERED 
(
	[SuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TempExample]    Script Date: 2020/5/19 7:05:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempExample](
	[Id] [varchar](50) NOT NULL,
	[TableName] [varchar](200) NULL,
	[ColField] [varchar](200) NULL,
	[DvTitle] [nvarchar](200) NULL,
	[ColTitle] [nvarchar](200) NULL,
	[ColWidth] [int] NULL,
	[ColAlign] [int] NULL,
	[ColHide] [int] NULL,
	[ColOrder] [int] NULL,
	[ColFrozen] [int] NULL,
	[ColFormat] [nvarchar](200) NULL,
	[ColSort] [int] NULL,
	[ColExport] [int] NULL,
	[ColQuery] [int] NULL,
	[FormUrl] [nvarchar](max) NULL,
	[FormType] [varchar](200) NULL,
	[FormArea] [int] NULL,
	[FormSpan] [int] NULL,
	[FormHide] [int] NULL,
	[FormOrder] [int] NULL,
	[FormRequired] [int] NULL,
	[FormPlaceholder] [nvarchar](200) NULL,
	[FormValue] [nvarchar](max) NULL,
	[FormText] [nvarchar](max) NULL,
 CONSTRAINT [PK_TempExample] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TempInvoiceDetail]    Script Date: 2020/5/19 7:05:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempInvoiceDetail](
	[TidId] [varchar](50) NOT NULL,
	[TimId] [varchar](50) NULL,
	[TimNo] [varchar](50) NULL,
	[TidOrder] [int] NULL,
	[GoodsId] [varchar](50) NULL,
	[GoodsCount] [int] NULL,
	[GoodsCost] [decimal](8, 2) NULL,
	[GoodsPrice] [decimal](8, 2) NULL,
	[Spare1] [varchar](50) NULL,
	[Spare2] [varchar](50) NULL,
	[Spare3] [varchar](50) NULL,
 CONSTRAINT [TempInvoiceDetail_TidId_PK] PRIMARY KEY CLUSTERED 
(
	[TidId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TempInvoiceMain]    Script Date: 2020/5/19 7:05:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempInvoiceMain](
	[TimId] [varchar](50) NOT NULL,
	[TimNo] [varchar](50) NULL,
	[TimDate] [datetime] NULL,
	[TimStore] [varchar](50) NULL,
	[TimType] [int] NULL,
	[TimSupplier] [varchar](50) NULL,
	[TimUser] [varchar](50) NULL,
	[TimRemark] [nvarchar](200) NULL,
	[TimOwnerId] [varchar](50) NULL,
	[TimOwnerName] [nvarchar](20) NULL,
	[TimCreateTime] [datetime] NULL,
	[TimStatus] [int] NULL,
	[Spare1] [varchar](50) NULL,
	[Spare2] [varchar](50) NULL,
	[Spare3] [varchar](50) NULL,
 CONSTRAINT [TempInvoiceMain_TimId_PK] PRIMARY KEY CLUSTERED 
(
	[TimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SysButton] ([SbId], [SbPid], [SbBtnText], [SbBtnId], [SbBtnClass], [SbBtnIcon], [SbBtnOrder], [SbStatus], [SbDescribe], [SbBtnGroup], [SbBtnHide]) VALUES (N'26008EAA-4ED7-46E0-8BBF-DCF1472397E0', N'00000000-0000-0000-0000-000000000000', N'批处理', N'm_Batch', N'btn btn-sm btn-danger', N'fa fa-paint-brush', 40, 1, NULL, 1, NULL)
INSERT [dbo].[SysButton] ([SbId], [SbPid], [SbBtnText], [SbBtnId], [SbBtnClass], [SbBtnIcon], [SbBtnOrder], [SbStatus], [SbDescribe], [SbBtnGroup], [SbBtnHide]) VALUES (N'3636B071-CE52-4551-BA67-4F982D14CD7C', N'00000000-0000-0000-0000-000000000000', N'导入', N'm_Import', N'btn btn-primary', N'fa fa-level-up', 74, 1, NULL, 1, -1)
INSERT [dbo].[SysButton] ([SbId], [SbPid], [SbBtnText], [SbBtnId], [SbBtnClass], [SbBtnIcon], [SbBtnOrder], [SbStatus], [SbDescribe], [SbBtnGroup], [SbBtnHide]) VALUES (N'3B4EBAB9-F2A5-43C8-8BCB-94B9A3AA5131', N'00000000-0000-0000-0000-000000000000', N'删除', N'm_Del', N'btn btn-sm  btn-danger', N'fa fa-remove', 4, 1, NULL, 1, NULL)
INSERT [dbo].[SysMenu] ([SmId], [SmPid], [SmName], [SmUrl], [SmOrder], [SmIcon], [SmStatus], [SmGroup]) VALUES (N'1DAB94C9-EF51-4BA2-A604-7DC7B78D56BC', N'00000000-0000-0000-0000-000000000000', N'系统设置', NULL, 9, N'fa-cog', 1, 1)
INSERT [dbo].[SysMenu] ([SmId], [SmPid], [SmName], [SmUrl], [SmOrder], [SmIcon], [SmStatus], [SmGroup]) VALUES (N'2AE7FAF0-B627-4012-8A94-C5337579C8F5', N'00000000-0000-0000-0000-000000000000', N'RF框架示例', NULL, 3, N'fa-tag', 1, 1)
INSERT [dbo].[SysMenu] ([SmId], [SmPid], [SmName], [SmUrl], [SmOrder], [SmIcon], [SmStatus], [SmGroup]) VALUES (N'2d5567ed-80d6-491c-b5e2-ef17babb3246', N'a9ae039c-2155-4ca8-b23a-5d793a71210e', N'多表单生成', N'/rf/buildforms', 2, N'fa-flag', 1, 1)
INSERT [dbo].[SysTableConfig] ([Id], [TableName], [ColField], [DvTitle], [ColTitle], [ColWidth], [ColAlign], [ColHide], [ColOrder], [ColFrozen], [ColFormat], [ColSort], [ColExport], [ColQuery], [ColRelation], [FormArea], [FormUrl], [FormType], [FormSpan], [FormHide], [FormOrder], [FormRequired], [FormPlaceholder], [FormValue], [FormText], [FormMaxlength]) VALUES (N'2988c87c-ec7a-47ac-9d73-d96790c335d7', N'SysButton', N'SbId', N'SbId', N'SbId', 100, 1, 2, 0, 0, N'0', 0, -1, 0, N'', 1, NULL, N'text', 1, 2, 1, 0, NULL, NULL, NULL, 50)
INSERT [dbo].[SysTableConfig] ([Id], [TableName], [ColField], [DvTitle], [ColTitle], [ColWidth], [ColAlign], [ColHide], [ColOrder], [ColFrozen], [ColFormat], [ColSort], [ColExport], [ColQuery], [ColRelation], [FormArea], [FormUrl], [FormType], [FormSpan], [FormHide], [FormOrder], [FormRequired], [FormPlaceholder], [FormValue], [FormText], [FormMaxlength]) VALUES (N'6976d441-159f-4dd4-8040-0bd383eb8875', N'SysButton', N'SbBtnText', N'按钮文本', N'按钮文本', 200, 1, 0, 0, 0, N'0', 0, 1, 0, N'', 1, NULL, N'text', 1, 0, 0, 1, NULL, NULL, NULL, 20)
INSERT [dbo].[SysTableConfig] ([Id], [TableName], [ColField], [DvTitle], [ColTitle], [ColWidth], [ColAlign], [ColHide], [ColOrder], [ColFrozen], [ColFormat], [ColSort], [ColExport], [ColQuery], [ColRelation], [FormArea], [FormUrl], [FormType], [FormSpan], [FormHide], [FormOrder], [FormRequired], [FormPlaceholder], [FormValue], [FormText], [FormMaxlength]) VALUES (N'6f7f9deb-b756-4b0f-b3a9-8742cea11ca1', N'SysButton', N'SbPid', N'上级按钮', N'上级按钮', 100, 1, 2, 1, 0, N'0', 0, 0, 0, N'', 1, N'/Common/QueryButtonTree', N'combotree', 1, 0, 1, 0, N'无上级按钮不填', NULL, NULL, 50)
GO
INSERT [dbo].[SysUser] ([SuId], [SrId], [SuName], [SuPwd], [SuNickname], [SuCreateTime], [SuStatus], [SuSign], [SuGroup]) VALUES (N'0ad60901-33d9-4bda-99c3-e720dd0685d7', N'58307c67-76b8-4156-bde3-f307f4da25e9', N'test', N'098f6bcd4621d373cade4e832627b4f6', N'test', CAST(N'2018-04-21T19:49:51.000' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[SysUser] ([SuId], [SrId], [SuName], [SuPwd], [SuNickname], [SuCreateTime], [SuStatus], [SuSign], [SuGroup]) VALUES (N'F9A19BAB-49C3-4131-AEFC-FB80FAAE579A', N'E663CE67-E9CA-4441-AB77-DC267C22C683', N'admin', N'21232f297a57a5a743894a0e4a801fc3', N'管理员', CAST(N'2018-02-14T09:33:00.000' AS DateTime), 1, NULL, 1)
INSERT [dbo].[TempInvoiceDetail] ([TidId], [TimId], [TimNo], [TidOrder], [GoodsId], [GoodsCount], [GoodsCost], [GoodsPrice], [Spare1], [Spare2], [Spare3]) VALUES (N'897dfbb3-c975-4e93-ab0b-d302769b0509', N'3b750ae8-0b7b-47f3-84ea-4eea75a3939c', NULL, NULL, N'明细3', 3, CAST(4.00 AS Decimal(8, 2)), CAST(5.00 AS Decimal(8, 2)), NULL, NULL, NULL)
INSERT [dbo].[TempInvoiceDetail] ([TidId], [TimId], [TimNo], [TidOrder], [GoodsId], [GoodsCount], [GoodsCost], [GoodsPrice], [Spare1], [Spare2], [Spare3]) VALUES (N'e78bee72-94d1-4ff8-a450-f609890ccb84', N'3b750ae8-0b7b-47f3-84ea-4eea75a3939c', NULL, NULL, N'明细2', 1, CAST(2.00 AS Decimal(8, 2)), CAST(3.00 AS Decimal(8, 2)), NULL, NULL, NULL)
INSERT [dbo].[TempInvoiceDetail] ([TidId], [TimId], [TimNo], [TidOrder], [GoodsId], [GoodsCount], [GoodsCost], [GoodsPrice], [Spare1], [Spare2], [Spare3]) VALUES (N'ee0d3d87-12d8-4f36-ac92-c14d60083328', N'3b750ae8-0b7b-47f3-84ea-4eea75a3939c', NULL, NULL, N'商品名称（浏览商品表，带出商品属性）', 5, CAST(10.00 AS Decimal(8, 2)), CAST(12.00 AS Decimal(8, 2)), NULL, NULL, NULL)
INSERT [dbo].[TempInvoiceMain] ([TimId], [TimNo], [TimDate], [TimStore], [TimType], [TimSupplier], [TimUser], [TimRemark], [TimOwnerId], [TimOwnerName], [TimCreateTime], [TimStatus], [Spare1], [Spare2], [Spare3]) VALUES (N'3b750ae8-0b7b-47f3-84ea-4eea75a3939c', N'1001', CAST(N'2019-08-29T00:00:00.000' AS DateTime), N'813984B9-06CA-4D85-AD82-3C4AD2CB834E', 1, N'2', N'netnr', N'测试信息，单据明细表，浏览模态框、下拉列表等输入模式支持需逐步完善', NULL, NULL, CAST(N'2019-08-29T15:54:14.000' AS DateTime), NULL, NULL, NULL, NULL)
SET ANSI_PADDING ON
GO
/****** Object:  Index [SysDictionary_SdId_PK]    Script Date: 2020/5/19 7:05:40 ******/
ALTER TABLE [dbo].[SysDictionary] ADD  CONSTRAINT [SysDictionary_SdId_PK] PRIMARY KEY NONCLUSTERED 
(
	[SdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [SysLog_LogId_PK]    Script Date: 2020/5/19 7:05:40 ******/
ALTER TABLE [dbo].[SysLog] ADD  CONSTRAINT [SysLog_LogId_PK] PRIMARY KEY NONCLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [SysTableConfig_Id_PK]    Script Date: 2020/5/19 7:05:40 ******/
ALTER TABLE [dbo].[SysTableConfig] ADD  CONSTRAINT [SysTableConfig_Id_PK] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SysRole] ADD  DEFAULT ((0)) FOR [SrStatus]
GO
ALTER TABLE [dbo].[SysTableConfig] ADD  DEFAULT ((0)) FOR [ColOrder]
GO
ALTER TABLE [dbo].[SysTableConfig] ADD  DEFAULT ((0)) FOR [ColFrozen]
GO
ALTER TABLE [dbo].[SysTableConfig] ADD  DEFAULT ((0)) FOR [ColSort]
GO
ALTER TABLE [dbo].[SysTableConfig] ADD  DEFAULT ((0)) FOR [ColExport]
GO
ALTER TABLE [dbo].[SysTableConfig] ADD  DEFAULT ((0)) FOR [ColQuery]
GO
ALTER TABLE [dbo].[SysTableConfig] ADD  DEFAULT ((0)) FOR [FormRequired]
GO
ALTER TABLE [dbo].[SysUser] ADD  DEFAULT ((0)) FOR [SuStatus]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'按钮文本' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysButton', @level2type=N'COLUMN',@level2name=N'SbBtnText'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'按钮ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysButton', @level2type=N'COLUMN',@level2name=N'SbBtnId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'按钮类' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysButton', @level2type=N'COLUMN',@level2name=N'SbBtnClass'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'按钮图标' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysButton', @level2type=N'COLUMN',@level2name=N'SbBtnIcon'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysButton', @level2type=N'COLUMN',@level2name=N'SbBtnOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态，1启用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysButton', @level2type=N'COLUMN',@level2name=N'SbStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'描述' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysButton', @level2type=N'COLUMN',@level2name=N'SbDescribe'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分组' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysButton', @level2type=N'COLUMN',@level2name=N'SbBtnGroup'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'隐藏，1隐藏' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysButton', @level2type=N'COLUMN',@level2name=N'SbBtnHide'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系统按钮表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysButton'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'上级ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysDictionary', @level2type=N'COLUMN',@level2name=N'SdPid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'字典类别' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysDictionary', @level2type=N'COLUMN',@level2name=N'SdType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysDictionary', @level2type=N'COLUMN',@level2name=N'SdKey'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'值' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysDictionary', @level2type=N'COLUMN',@level2name=N'SdValue'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysDictionary', @level2type=N'COLUMN',@level2name=N'SdOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态：1正常，-1删除，2停用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysDictionary', @level2type=N'COLUMN',@level2name=N'SdStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysDictionary', @level2type=N'COLUMN',@level2name=N'SdRemark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'特性' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysDictionary', @level2type=N'COLUMN',@level2name=N'SdAttribute1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'特性' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysDictionary', @level2type=N'COLUMN',@level2name=N'SdAttribute2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'特性' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysDictionary', @level2type=N'COLUMN',@level2name=N'SdAttribute3'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系统字典表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysDictionary'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysLog', @level2type=N'COLUMN',@level2name=N'SuName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'昵称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysLog', @level2type=N'COLUMN',@level2name=N'SuNickname'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'动作' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysLog', @level2type=N'COLUMN',@level2name=N'LogAction'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysLog', @level2type=N'COLUMN',@level2name=N'LogContent'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'链接' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysLog', @level2type=N'COLUMN',@level2name=N'LogUrl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'IP' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysLog', @level2type=N'COLUMN',@level2name=N'LogIp'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'IP归属地' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysLog', @level2type=N'COLUMN',@level2name=N'LogArea'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'User-Agent' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysLog', @level2type=N'COLUMN',@level2name=N'LogUserAgent'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'浏览器' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysLog', @level2type=N'COLUMN',@level2name=N'LogBrowserName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'客户端操作系统' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysLog', @level2type=N'COLUMN',@level2name=N'LogSystemName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分组（1：默认；2：爬虫）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysLog', @level2type=N'COLUMN',@level2name=N'LogGroup'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'级别（F： Fatal；E：Error；W：Warn；I：Info；D：Debug；A：All）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysLog', @level2type=N'COLUMN',@level2name=N'LogLevel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysLog', @level2type=N'COLUMN',@level2name=N'LogCreateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysLog', @level2type=N'COLUMN',@level2name=N'LogRemark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysLog'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysMenu', @level2type=N'COLUMN',@level2name=N'SmName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'链接' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysMenu', @level2type=N'COLUMN',@level2name=N'SmUrl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysMenu', @level2type=N'COLUMN',@level2name=N'SmOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'图标' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysMenu', @level2type=N'COLUMN',@level2name=N'SmIcon'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态，1启用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysMenu', @level2type=N'COLUMN',@level2name=N'SmStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分组，默认1，比如移动端为2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysMenu', @level2type=N'COLUMN',@level2name=N'SmGroup'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系统菜单表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysMenu'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysRole', @level2type=N'COLUMN',@level2name=N'SrName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态，1启用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysRole', @level2type=N'COLUMN',@level2name=N'SrStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'描述' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysRole', @level2type=N'COLUMN',@level2name=N'SrDescribe'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分组' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysRole', @level2type=N'COLUMN',@level2name=N'SrGroup'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'菜单' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysRole', @level2type=N'COLUMN',@level2name=N'SrMenus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'按钮' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysRole', @level2type=N'COLUMN',@level2name=N'SrButtons'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysRole', @level2type=N'COLUMN',@level2name=N'SrCreateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系统角色表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysRole'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'（虚）表名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysTableConfig', @level2type=N'COLUMN',@level2name=N'TableName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'列键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysTableConfig', @level2type=N'COLUMN',@level2name=N'ColField'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'默认列标题' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysTableConfig', @level2type=N'COLUMN',@level2name=N'DvTitle'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'列标题' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysTableConfig', @level2type=N'COLUMN',@level2name=N'ColTitle'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'列宽' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysTableConfig', @level2type=N'COLUMN',@level2name=N'ColWidth'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'对齐方式 1左，2中，3右' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysTableConfig', @level2type=N'COLUMN',@level2name=N'ColAlign'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1隐藏' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysTableConfig', @level2type=N'COLUMN',@level2name=N'ColHide'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysTableConfig', @level2type=N'COLUMN',@level2name=N'ColOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1冻结' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysTableConfig', @level2type=N'COLUMN',@level2name=N'ColFrozen'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'格式化' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysTableConfig', @level2type=N'COLUMN',@level2name=N'ColFormat'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1启用点击排序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysTableConfig', @level2type=N'COLUMN',@level2name=N'ColSort'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1导出' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysTableConfig', @level2type=N'COLUMN',@level2name=N'ColExport'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1查询' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysTableConfig', @level2type=N'COLUMN',@level2name=N'ColQuery'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'查询关系符' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysTableConfig', @level2type=N'COLUMN',@level2name=N'ColRelation'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'区域' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysTableConfig', @level2type=N'COLUMN',@level2name=N'FormArea'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'来源' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysTableConfig', @level2type=N'COLUMN',@level2name=N'FormUrl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'输入类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysTableConfig', @level2type=N'COLUMN',@level2name=N'FormType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'跨列' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysTableConfig', @level2type=N'COLUMN',@level2name=N'FormSpan'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1隐藏' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysTableConfig', @level2type=N'COLUMN',@level2name=N'FormHide'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysTableConfig', @level2type=N'COLUMN',@level2name=N'FormOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1必填' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysTableConfig', @level2type=N'COLUMN',@level2name=N'FormRequired'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'输入框提示' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysTableConfig', @level2type=N'COLUMN',@level2name=N'FormPlaceholder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'初始值' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysTableConfig', @level2type=N'COLUMN',@level2name=N'FormValue'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'显示文本' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysTableConfig', @level2type=N'COLUMN',@level2name=N'FormText'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最大长度' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysTableConfig', @level2type=N'COLUMN',@level2name=N'FormMaxlength'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'表配置' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysTableConfig'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysUser', @level2type=N'COLUMN',@level2name=N'SrId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'账号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysUser', @level2type=N'COLUMN',@level2name=N'SuName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'密码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysUser', @level2type=N'COLUMN',@level2name=N'SuPwd'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'昵称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysUser', @level2type=N'COLUMN',@level2name=N'SuNickname'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysUser', @level2type=N'COLUMN',@level2name=N'SuCreateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态，1正常' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysUser', @level2type=N'COLUMN',@level2name=N'SuStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysUser', @level2type=N'COLUMN',@level2name=N'SuSign'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分组' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysUser', @level2type=N'COLUMN',@level2name=N'SuGroup'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系统用户表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'（虚）表名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempExample', @level2type=N'COLUMN',@level2name=N'TableName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'列键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempExample', @level2type=N'COLUMN',@level2name=N'ColField'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'默认列标题' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempExample', @level2type=N'COLUMN',@level2name=N'DvTitle'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'列标题' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempExample', @level2type=N'COLUMN',@level2name=N'ColTitle'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'列宽' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempExample', @level2type=N'COLUMN',@level2name=N'ColWidth'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'对齐方式 1左，2中，3右' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempExample', @level2type=N'COLUMN',@level2name=N'ColAlign'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1隐藏' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempExample', @level2type=N'COLUMN',@level2name=N'ColHide'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempExample', @level2type=N'COLUMN',@level2name=N'ColOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1冻结' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempExample', @level2type=N'COLUMN',@level2name=N'ColFrozen'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'格式化' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempExample', @level2type=N'COLUMN',@level2name=N'ColFormat'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1启用点击排序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempExample', @level2type=N'COLUMN',@level2name=N'ColSort'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1导出' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempExample', @level2type=N'COLUMN',@level2name=N'ColExport'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1查询' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempExample', @level2type=N'COLUMN',@level2name=N'ColQuery'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'来源' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempExample', @level2type=N'COLUMN',@level2name=N'FormUrl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'输入类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempExample', @level2type=N'COLUMN',@level2name=N'FormType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'区域' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempExample', @level2type=N'COLUMN',@level2name=N'FormArea'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'跨列' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempExample', @level2type=N'COLUMN',@level2name=N'FormSpan'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1隐藏' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempExample', @level2type=N'COLUMN',@level2name=N'FormHide'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempExample', @level2type=N'COLUMN',@level2name=N'FormOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1必填' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempExample', @level2type=N'COLUMN',@level2name=N'FormRequired'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'输入框提示' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempExample', @level2type=N'COLUMN',@level2name=N'FormPlaceholder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'初始值' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempExample', @level2type=N'COLUMN',@level2name=N'FormValue'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'显示文本' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempExample', @level2type=N'COLUMN',@level2name=N'FormText'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'示例表，请删除' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempExample'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'单据主表ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempInvoiceDetail', @level2type=N'COLUMN',@level2name=N'TimId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'单据号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempInvoiceDetail', @level2type=N'COLUMN',@level2name=N'TimNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempInvoiceDetail', @level2type=N'COLUMN',@level2name=N'TidOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'商品ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempInvoiceDetail', @level2type=N'COLUMN',@level2name=N'GoodsId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'商品数量' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempInvoiceDetail', @level2type=N'COLUMN',@level2name=N'GoodsCount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'商品成本' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempInvoiceDetail', @level2type=N'COLUMN',@level2name=N'GoodsCost'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'商品售价' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempInvoiceDetail', @level2type=N'COLUMN',@level2name=N'GoodsPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempInvoiceDetail', @level2type=N'COLUMN',@level2name=N'Spare1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempInvoiceDetail', @level2type=N'COLUMN',@level2name=N'Spare2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempInvoiceDetail', @level2type=N'COLUMN',@level2name=N'Spare3'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'单据明细' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempInvoiceDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'单据号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempInvoiceMain', @level2type=N'COLUMN',@level2name=N'TimNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'单据日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempInvoiceMain', @level2type=N'COLUMN',@level2name=N'TimDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'门店' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempInvoiceMain', @level2type=N'COLUMN',@level2name=N'TimStore'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'采购类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempInvoiceMain', @level2type=N'COLUMN',@level2name=N'TimType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'供应商' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempInvoiceMain', @level2type=N'COLUMN',@level2name=N'TimSupplier'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'采购员' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempInvoiceMain', @level2type=N'COLUMN',@level2name=N'TimUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempInvoiceMain', @level2type=N'COLUMN',@level2name=N'TimRemark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'制单人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempInvoiceMain', @level2type=N'COLUMN',@level2name=N'TimOwnerId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'制单人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempInvoiceMain', @level2type=N'COLUMN',@level2name=N'TimOwnerName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempInvoiceMain', @level2type=N'COLUMN',@level2name=N'TimCreateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态，1默认，2已审核，3未通过，4作废' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempInvoiceMain', @level2type=N'COLUMN',@level2name=N'TimStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempInvoiceMain', @level2type=N'COLUMN',@level2name=N'Spare1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempInvoiceMain', @level2type=N'COLUMN',@level2name=N'Spare2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempInvoiceMain', @level2type=N'COLUMN',@level2name=N'Spare3'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'单据主表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TempInvoiceMain'
GO