body {
    -webkit-font-smoothing: antialiased;
}

.form-control:focus, .custom-select:focus {
    box-shadow: none;
}

.dropdown-menu {
    border: none;
    min-width: initial;
    border-radius: initial;
    box-shadow: 0 1px 5px rgba(0,0,0,.175);
}

    .dropdown-menu li a {
        font-size: 14px;
        padding: 8px 20px;
    }

        .dropdown-menu li a:hover {
            color: #009a61;
        }


.form-control:focus, .custom-select:focus {
    box-shadow: none;
}

@media (min-width: 1666px) {
    .col-xxl-2, .col-ll-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-xxl-3 {
        flex: 0 0 auto;
        width: 25%;
    }
}

/*顶部导航*/
.netnrnav.horizontal .netnrnav-wrapper {
    width: 100% !important;
}

.CodeMirror {
    font-size: 1.2rem;
}

/*logo*/
.siteIcon * {
    height: 26px;
    margin: -2px 2px 0 0;
}

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-left: 0 !important;
}

.min300 {
    min-height: 300px;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-image: url('/images/loading.svg');
    background-repeat: no-repeat;
    background-position: 49% 49%
}

/*返回顶部*/
.totop {
    position: fixed;
    z-index: 2;
    right: 15px;
    bottom: 80px;
    height: 35px;
    font-size: 3em;
    padding: 0 8px;
    font-weight: 600;
    border-radius: 6px;
    text-align: center;
    border: 1px solid #ddd;
    line-height: 1.42857143;
    color: #009a61 !important;
    text-decoration: none !important;
    background-color: rgba(217, 217, 217, .5);
    opacity: .4;
    filter: alpha(opacity=40);
    font-family: 'Microsoft YaHei';
}

    .totop:hover {
        color: white !important;
        background-color: #009a61;
    }

.panel-mc > .panel-heading {
    color: #ffffff;
    letter-spacing: 1px;
    border-color: #5cb85c;
    background-color: #5cb85c;
}

.panel-mc > .panel-body {
    border: 1px solid #009a61;
}

/*nav*/
.navbox .card:hover {
    border-color: green;
}

.navbox .card-body {
    padding: .5rem;
}

.navbox a > * {
    display: block;
    overflow-x: hidden;
    white-space: nowrap;
    line-height: initial;
    text-overflow: ellipsis;
}

.navbox a {
    color: #777;
    display: block;
}

    .navbox a:hover {
        color: #333;
        text-decoration: none;
    }

    .navbox a svg {
        float: left;
        width: 48px;
        height: 48px;
        margin: 3px 8px 0 0;
    }

.titleicon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

/*footer*/
.footer {
    width: 100%;
    display: block;
    margin-top: 70px;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #eee;
}

/* Monaco Editor Full */
.me-full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: 9999;
}

.me-full-btn {
    position: absolute;
    top: 8px;
    right: 10px;
    color: #777;
    z-index: 201;
    cursor: pointer;
    font-size: 1.2em;
}
