.dropdown:hover {
    z-index: 45;
}

.navbar:hover {
    z-index: 40;
}

.dropdown .dropdown-menu,
.navbar .dropdown-menu {
    margin-top: 0;
    box-shadow: 0 2px 4px rgba(34, 34, 34, 0.15);
}

.dropdown .dropdown-menu-end,
.navbar .dropdown-menu-end {
    right: 0;
    left: auto;
}

/* mask */
.bsnav-mask {
    display: block;
    height: 100%;
    width: 0%;
    z-index: 20;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(34, 34, 34, 0.6);
    transition: opacity 0.2s linear, visibility 0.2s, width 2s ease-in;
}

    .bsnav-mask.active {
        z-index: 25;
        transition: opacity 0.3s ease, width 0s;
        opacity: 1;
        width: 100%;
        visibility: visible;
    }

body.offcanvas-active {
    overflow: hidden;
}

.bsnav-header {
    display: none;
}

/*menu-toggle*/
.bsnav-menu-toggle {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 49;
    padding: 10px 15px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
}

    .bsnav-menu-toggle span {
        background-color: orange;
        margin-bottom: 6px;
        display: block;
        width: 26px;
        height: 3px;
    }

/* ============ mobile view ============ */
@media all and (max-width: 991px) {
    .bsnav-header {
        display: block;
    }

    .mobile-offcanvas {
        visibility: hidden;
        transform: translateX(-100%);
        border-radius: 0;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 48;
        width: 80vw;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-bottom: 45px;
        transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

        .mobile-offcanvas.show {
            visibility: visible;
            transform: translateX(0);
        }

        .mobile-offcanvas .container,
        .mobile-offcanvas .container-fluid {
            display: block;
        }

    .navbar-brand {
        padding-left: .7rem;
    }
}
/* mobile view .end */

/* desktop */
@media all and (min-width: 992px) {
    .navbar {
        padding: 0;
    }

        .navbar .nav-item .dropdown-menu {
            display: none;
        }

        .navbar .nav-item:hover .dropdown-menu {
            display: block;
        }

        .navbar .nav-item .dropdown-menu {
            margin-top: 0;
        }
}
/* desktop .end */

/* orange theme */
.navbar-orange {
    background-color: #ffca2a;
    box-shadow: 0 2px 3px rgba(100, 100, 100, 0.1);
    font-size: 14px;
}

    .navbar-orange .navbar-brand {
        font-weight: 600;
        display: block;
    }

    .navbar-orange .navbar-nav .nav-link {
        color: #444;
        padding: 0.7rem;
        font-weight: 600;
        border: 2px solid transparent;
    }

    .navbar-orange .navbar-nav .nav-item.show .nav-link,
    .navbar-orange .navbar-nav .nav-item:hover .nav-link {
        color: #0d6efd;
    }

    .navbar-orange .dropdown-menu {
        border: 0;
        background-clip: initial;
        border-radius: 0;
        box-shadow: 0 1px 5px rgba(70, 70, 70, 0.2);
    }

        .navbar-orange .dropdown-menu .dropdown-item {
            padding: 0.6rem 1.5rem;
        }



/** custom */
.form-control:focus, .form-select:focus {
    box-shadow: none;
}

.form-control:focus, .form-select:focus {
    box-shadow: none;
}

.CodeMirror {
    font-size: 1.5rem;
}

.min300 {
    min-height: 300px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(359deg)
    }
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
}

    .loading svg {
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 5.5rem;
        height: 5.5rem;
        animation: rotate 2s linear infinite;
    }

.panel-mc > .panel-heading {
    color: #ffffff;
    letter-spacing: 1px;
    border-color: #5cb85c;
    background-color: #5cb85c;
}

.panel-mc > .panel-body {
    border: 1px solid #009a61;
}

/*nav*/
.navbox .card:hover {
    border-color: orange;
}

.navbox .card-body {
    padding: .5rem;
}

.navbox a > * {
    display: block;
    overflow-x: hidden;
    white-space: nowrap;
    line-height: initial;
    text-overflow: ellipsis;
}

.navbox a {
    color: #777;
    display: block;
}

    .navbox a:hover {
        color: #333;
        text-decoration: none;
    }

    .navbox a svg {
        float: left;
        width: 56px;
        height: 56px;
        margin: 0 14px 0 4px;
    }

.titleicon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

/*footer*/
.footer {
    width: 100%;
    display: block;
    margin-top: 70px;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #eee;
}

/* Monaco Editor Full */
.me-full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: 9999;
}

.me-full-btn {
    position: absolute;
    top: 8px;
    right: 10px;
    color: #777;
    z-index: 201;
    cursor: pointer;
    font-size: 1.2em;
}

.pme {
    font-size: 18px;
    line-height: 24px;
    padding: 0 0 0 75px;
    font-family: Consolas, "Courier New", monospace;
}

.ag-watermark {
    display: none !important;
}
