body {
    overflow-y: scroll;
    background-color: #ededed;
}

/*导航*/
.dnav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    opacity: .4;
    height: 35px;
    background-color: #fff;
    filter: alpha(opacity=40);
    border-bottom: 1px solid #ededed;
}

    .dnav a.ahome img {
        height: 30px;
        margin-top: 3px;
        margin-left: 15%;
    }

    .dnav a, .dnav a:hover, .dnav a:active, .dnav a:focus {
        outline: none;
        box-shadow: none;
        text-align: center;
        border-color: transparent;
        background-color: transparent;
    }

    .dnav:hover {
        opacity: .9;
        filter: alpha(opacity=90);
    }

    .dnav .btn-group {
        margin-right: 15%;
    }

    .dnav .dropdown-menu {
        min-width: 110px;
    }

.divWP {
    margin-top: 30px;
}

    .divWP div.row {
        margin-left: -10px;
        margin-right: -10px;
    }

    .divWP div {
        margin: 0;
        padding: 0;
    }

        .divWP div img {
            width: 100%;
            height: 100%;
            cursor: url(https://img.t.sinajs.cn/t6/style/images/common/big.cur), default;
        }

        .divWP div.pu {
            padding: 5px;
        }

            .divWP div.pu .list-group {
                position: absolute;
                top: 0;
                left: 0;
                width: 150px;
                display: none;
                opacity: .8;
                filter: alpha(opacity=80);
            }

                .divWP div.pu .list-group a {
                    color: #777;
                    padding: 2px 3px;
                    border-radius: 0;
                }

            .divWP div.pu:hover .list-group {
                display: block;
            }


/*全屏查看*/
.divFP {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3333;
    background-color: #ededed;
}

    .divFP a {
        position: fixed;
        top: 0;
        color: red;
        z-index: 2;
        right: 15px;
        font-size: 3rem;
        cursor: pointer;
        text-decoration: none;
    }

    .divFP img {
        position: absolute;
        z-index: 1;
        cursor: move;
    }
