@{
    ViewData["Title"] = "关于";
    var duration = Math.Ceiling((DateTime.Now - new DateTime(2015, 5, 1)).TotalDays);
}

@Html.AntiForgeryToken()

<div class="container-fluid p-4">
    <div class="row">
        <div class="col-md-12">
            <input type="hidden" class="nr-hid-duration" value="@duration" />
            <pre class="nr-SystemStatus">Loading ...</pre>
        </div>
    </div>
</div>

<script src="/js/mix/about.js" asp-append-version="true"></script>