@{
    ViewData["Title"] = "服务器信息";
}

@Html.AntiForgeryToken()

<div class="row">
    <div class="col-md-12 mt15">
        <pre class="nr-ss"> <img src="/images/loading.svg" /></pre>
    </div>
</div>

<script src="/js/tool/serverinfo.js" asp-append-version="true"></script>