@model ResultVM
@{
    ViewData["Title"] = "注册";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <div class="my-5">
                <a href="/"><img src="/favicon.svg" alt="@AppTo.GetValue("Common:EnglishName")" /></a>
            </div>
            <h4 class="my-3">Join @AppTo.GetValue("Common:EnglishName")</h4>
        </div>
        <div class="col-12">
            <div class="border rounded mx-auto p-4" style="max-width:20em">
                <form action="/account/register" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="remember" value="1" />

                    @if (!string.IsNullOrWhiteSpace(Model?.Msg))
                    {
                        <div class="alert alert-@(Model.Code == 200?"success":"danger") mb-3">@Model?.Msg</div>
                        if (Model.Code == 200)
                        {
                            <script>setTimeout(function () { location.href = "/account/login" }, 1000 * 3)</script>
                        }
                    }

                    <input class="form-control mb-4" type="text" required name="UserName" maxlength="50" placeholder="netnr@@netnr.com" value='@ViewData["UserName"]' autocomplete="off" autofocus />
                    <input class="form-control mb-4" type="password" required name="UserPwd" maxlength="20" placeholder="******" autocomplete="off" />
                    @*<div class="input-group mb-3">
                        <input class="form-control" type="text" required name="RegisterCode" maxlength="4" autocomplete="off">
                        <span class="input-group-text p-0">
                            <img class="rounded rounded-1" src="/account/registercode" role="button" onclick="this.src = '/account/registercode?' + Date.now()" />
                        </span>
                    </div>*@

                    <button type="submit" class="btn btn-warning w-100">Create an account</button>
                </form>
            </div>

            <div class="mt-4 text-center pt-4">
                <a class="mx-2" href="/mix/terms">Terms</a>
                <a class="mx-2" href="https://zme.ink">Contact</a>
                |
                <a class="mx-2" href="/">Home</a>
                <a class="mx-2" href="/account/login">Sign in</a>
            </div>
        </div>
    </div>
</div>