.ag-theme-alpine,
.ag-theme-alpine-dark {
    --ag-font-size: 15px !important;
}

/*图标大小*/
.ag-icon {
    font-size: 20px !important;
}

/*新增：标题类型标记*/
.ag-header-type-icon {
    margin-top: -.3em;
}

.ag-header-type-icon sl-icon {
    margin-right: 0.2em;
    vertical-align: text-top;
}

/* 单元格图标 */
.ag-cell-value sl-icon {
    width: 1.1em;
    height: 1.1em;
    margin-right: 0.2em;
    vertical-align: sub;
}

/* 右键菜单图标 */
.ag-menu-option-icon {
    text-align: center;
}

/*状态栏*/
.ag-status-bar {
    line-height: .5;
}

.ag-status-name-value {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}