/*主体*/
.nrg-main {
    margin: .3em .3em 0;
}

/*上*/
.nrg-box-head {
    display: flex;
    flex-wrap: wrap;
}

.nrg-box-head>* {
    margin-right: .5em;
}

.nrg-box-head>*:last-child {
    margin-left: auto;
}

/* 设置 */
.nrg-dialog-setting sl-details {
    margin-bottom: .5em;
}

/*选项卡 窗口 对应的连接-数据库*/
.nrg-window-conns {
    margin-left: 1em;
}

/*分离器-sql*/
.nrg-spliter-sql {
    --es-sql-height: 45%;
}

.nrg-spliter-sql .nrc-spliter-item:first-child {
    height: var(--es-sql-height)
}

.nrg-spliter-sql .nrc-spliter-item:last-child {
    height: calc(100% - var(--nrc-spliter-width) - var(--es-sql-height))
}

/*分离器-主体*/
.nrg-spliter-body .nrg-box-left {
    width: 48%;
}

.nrg-spliter-body .nrg-box-right {
    width: calc(100% - 48% - var(--nrc-spliter-width));
}

/*选项卡（右侧主体）窗口 编辑器*/
.nrg-editor-box {
    display: flex;
    border: 1px solid var(--sl-color-primary-100);
    --ebox-tool-width: 30px;
}

.nrg-editor-tool {
    width: var(--ebox-tool-width);
    background-color: var(--sl-color-neutral-100);
}

.nrg-editor-tool sl-icon-button::part(base) {
    padding: .2em .1em;
}

.nrg-editor-sql {
    height: 100%;
    width: calc(100% - var(--ebox-tool-width))
}

/*选项卡 执行结果*/
.nrg-tab-group-esql {
    height: 100%;
    width: 100%;
}

.nrg-grid-execute-sql {
    height: 200px;
}

/*设置服务*/
.nrg-server-config {
    display: flex;
}

/*设置参数*/
.nrg-parameter-config {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
}

.nrg-parameter-config>div {
    min-width: 8em;
    margin: 0 1em 1em 0;
}

/*分离器-code*/
.nrg-spliter-code .nrc-spliter-item {
    width: 50%;
}

.nrg-spliter-code .nrg-editor-gc1,
.nrg-spliter-code .nrg-editor-gc2 {
    border: 1px solid var(--sl-color-primary-100);
}

.nrg-gc1-tool,
.nrg-gc2-tool {
    display: flex;
}

.nrg-gc1-tool>* {
    margin-right: .5em;
}

.nrg-gc1-code,
.nrg-gc2-language {
    min-width: 18em;
}

/* 输出 */
.nrg-output {
    display: inline;
    position: relative;
}

.nrg-output-body {
    position: absolute;
    z-index: 1;
    top: 28px;
    right: -0.5em;
    padding: .5em;
    display: none;
    max-width: 100vw;
    background-color: var(--sl-panel-background-color);
    border: solid var(--sl-panel-border-width) var(--sl-panel-border-color);
    border-radius: var(--sl-border-radius-medium);
    box-shadow: var(--sl-shadow-large);
}